

/* 공통 */
.event_title {
    font-size: 36px;
}

/* */
.event_navbar {
    border-top: 3px solid black;
    border-bottom: 1px solid black;
    position: relative;
}

.event_tab_menu li {
    display: inline-block;
    padding: 10px 0;
    margin-right: 80px;
}

.submenu {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 0;
}

.submenu > a {
    background-color: #e71a0f;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.event_item_list img {
    width: 250px;
}


.event_cf {
    display: flex;
    flex-wrap: wrap;
}

.event_cf li {
    margin-right: 20px;
    width: 28%;
    padding: 10px;
}


.evt-desc {
    background-color: white;
    height: 90px;
    border: 1px solid rgb(224, 221, 221);
    width: 248px;
}

.txt1 {
    padding: 10px;
    height: 35px;
}

.txt2 {
    color: rgb(139, 139, 139);
    font-size: 14px;
    padding: 0 10px;
}


/* aside */

.col-aside {
    float: right;
    width: 160px;
    padding: 9px;
}

.col-aside img {
    width: 170px;
}

.aside-content1 {
    margin-bottom: 10px;
}

.aside-content2 {
    margin-bottom: 10px;
}


/* CgvTheater(영화/예매) 부분 */

select {
    box-sizing: border-box;
    text-rendering: auto;
    letter-spacing: normal;
    height: 27px;
    padding: 0 5px;
    border: 1px solid #b4b3aa;
    color: #666666;
    background-color: #ffffff;

}

.local_search {
    background-color: #e71a0f;
    padding: 5.5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    width: 65px;
}

.local_search > a { 
    color: #ffffff;; 
}

.evt-select-area { 
    text-align: center;
    padding: 10px;
}


/* 밑 부분 여백 */
.blank {
    height: 150px;
}

/* 더보기 관련 */
.more { display: none; }
.more_btn { 
    background-color: #f1f0e6;
    width: 100%;
    padding: 18px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    color:#666;
}

/* giftshop 메뉴*/
.gift_store { background-color: #fff; }

.bx_wrapper {
    padding-bottom: 30px;
}

.category_wrap {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

.category_contents_wrap {
    width: 980px; margin: 0 auto; box-sizing: border-box;
    height: 50px;
}

.category_content { 
    display: flex;
    float: left;
    width: 980px; margin: 0 auto; box-sizing: border-box;
    padding-left: 10px;
    position: relative;
}

.category_content li {
    margin-right: 20px;
    padding: 15px 0;
}

.category_content li > a {
    color: #6a6f77;
    padding: 6px;
    font-weight: bold;
}

.stick {
    width: 1px;
    height: 25px;
    background-color: #ccc;
    display: inline-block;
    position: absolute;
    right: 225px;
    top: 14px;
}

.cart_content {
    color: #6a6f77;
    float: right;
    right: 0px;
    top: 15px;
    font-weight: bold;
    position: absolute;
}

.red_round {
    background-color: #e71a0f;
    display: inline-block;
    width: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-left: 5px;
}

.category_product_wrap {
    width: 980px; margin: 0 auto; box-sizing: border-box;
    position: relative;
}

.category_product_title.big{
    width: 100%;
    font-size: 30px;
    padding-top: 70px;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
    position: relative;
}

.category_product_title.small{
    width: 88%;
    font-size: 30px;
    padding-top: 70px;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
    position: relative;
}

.category_product_title {
    width: 100%;
    font-size: 30px;
    padding-top: 70px;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
    position: relative;
}

.category_product_title small > .btn_category_product > a > img {
    position: absolute;
    right: 0px;
    top: 100px;
    
}

.btn_category_product > img {
    float: right;
    width: 24px;
}

.btn_more_product {
    position: absolute;
    top: 85px;
    right: 0px;
}

.category_product_list {
    width: 980px; margin: 0 auto; box-sizing: border-box;
}

.category_product_list li {
    position: relative;
    width: 49%;
    display: inline-block;
}

.category_left_list {
    width: 47% !important;
    margin-right: 3%;
}


.category_product_list li:first-child {
    width: 100%;
}
.category_product_list > li:first-child .category_product_inner_list li {
    width: 220px !important;
}
.category_product_inner_list li .btn_category_product .best_product_img_wrap {
    width: 160px;
    display: block;
}

.category_product_inner_list li .btn_category_product .best_product_img_wrap.big {
    width: 220px;
}

.category_product_list > li:first-child .category_product_inner_list li .btn_category_product .best_product_text_wrap {
    position: static;
    width: 100%;
    height: auto;
    padding-left: 0;
    transform: none;
}

.best_product_text_wrap {
    position: absolute;
    left: 165px;
    top: 50%;
    transform: translate(0, -50%);
}


.category_product_inner_list li{
    position: relative;
}

.category_product_inner_list li {
    display: inline-block;
    width: 100%;
    margin-right: 20px;
}

.best_product_img_wrap > img {
    width: 100%;
}

.best_product_text_name {
    color: #6a6f77;
    font-weight: 400;
    font-size: 16px;
}

.best_product_price {
    margin-top: 20px;
    padding-left: 5px;
    display: block;
    font-size: 18px;
    color: #000;
}

.product_img {
    width: 160px !important;
}

/* CGV 기프트샵 이용안내 */

.info_use_wrap {
    width: 980px; 
    margin: 0 auto; 
    box-sizing: border-box;
    border-top: 1px solid #6a6f77;
    border-bottom: 1px solid #6a6f77;
    padding: 20px;
    position: relative;
}
.info_use_img {
    position: absolute;
    top: 40px;
    left: 350px;
}
.info_giftshop {
    width: 55%;
    padding: 10px;
    display: inline-block;
    border-right: 1px solid #6a6f77;
}
.info_giftshop > .info_use_title {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}
.info_giftshop > .info_use_subtitle {
    display: block;
    margin-top: 12px;
    margin-bottom: 11px;
    font-size: 14px;
    width: 250px;
}

/* CGV 고객센터 */

.info_use {
    float: right;
    width: 38%;
}
.info_use_center {
    font-size: 18px;
}
.info_use_telnum {
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin-top: 5px;
}
.info_use_telnum > img {
    width: 35px;
}
.info_use_time {
    display: block;
    margin-top: 5px;
}
.info_use_response {
    display: block;
}



/* CGV 매거진 css start */


/* Contaniner Area */

#contaniner {width:100%;}
#contaniner.bg-bricks.main {background-position:0 0;}
#contents {clear:both; padding-bottom:50px;}
.linemap-wrap {width:100%; background-color:#f1f0e5; border-bottom:1px solid #cacac0;}

h3 {height:45px; margin:30px 0 15px;  
    repeat-x 0 50%; line-height:41px; text-align:center; font-weight:500;}

h3 > img { padding:0 8px; background-color:#fdfcf0;}
h3.sub{ height:auto; background-position:0 17px;}
h3.sub > span{ display:block; margin-top:3px; 
    background-position:0 17px; font-size:17px; color:#333333; }
h3.sub > span > strong{ color:#c62422;}

.tit-heading-wrap {
    position: relative;
    height: 51px;
    margin-top: 30px;
    border-bottom: 3px solid #241d1e;
}
.tit-heading-wrap > h3 {
    display: inline-block;
    position: relative;
    height: inherit;
    margin: 0;
    background-image: none;
    color: #222;
    font-weight: 500;
    font-size: 36px;
    text-align: left;
    vertical-align: middle;
}
.tit-heading-wrap > h3 + a {display:inline-block;}
.tit-heading-wrap > .submenu {position:absolute; top:18px; right:0;}
.tit-heading-wrap > .submenu > ul {overflow:hidden;}
.tit-heading-wrap > .submenu > ul:after {content:''; clear:both; display:block;}
.tit-heading-wrap > .submenu > ul > li {float:left; margin-left:15px;}
.tit-heading-wrap > .submenu > ul > li:first-child {margin-left:0;}
.tit-heading-wrap > .submenu > ul > li > a {display:inline-block; padding-left:13px; font-weight:500; font-size:14px;}
.tit-heading-wrap > .submenu > ul > li.on > a,
.tit-heading-wrap > .submenu > ul > li > a:hover,
.tit-heading-wrap > .submenu > ul > li > a:focus {
    background:url(https://img.cgv.co.kr/r2014/images/common/ico/ico_arrow07.png) 
    no-repeat 0 3px; color:#e40000;}

.tit-heading-wrap > .submenu {
    position: absolute;
    top: 18px;
    right: 0;
}

.submenu {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 0;
}
.sect-magazine-list > .sect_desc {
    font-size: 12px;
    margin: 20px 0 25px 0;
    padding-left: 15px;
    background: url(../images/sub/magazine/bul_billiard_11px.png) no-repeat 0 2px;
}
#contents {
    clear: both;
    padding-bottom: 50px;
}

#cgvwrap .cgv-ad-wrap .sect-head-ad, .head, .im-wrap, #contents, .foot, .sect-smuse, .sect-cinfo {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

.sect-magazine-list ul {
    margin: -14px 0 0 -14px;
}

.sect-magazine-list ul li {
    float: left;
    margin: 14px 0 0 13px;
    border: 1px solid #edeae0;
    width: 316px;
    background: #fff;
    box-shadow: #e5e4da 0 0 3px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
