/* 테스트입니다 */

@font-face {
    font-family: 'CJONLYONE';
    src: url('../font/CJONLYONE/CJONLYONEMedium.eot');
    src: url('../font/CJONLYONE/CJONLYONEMedium.eot?#iefix') format('embedded-opentype'),
        url('../font/CJONLYONE/CJONLYONEMedium.woff2') format('woff2'),
        url('../font/CJONLYONE/CJONLYONEMedium.woff') format('woff'),
        url('../font/CJONLYONE/CJONLYONEMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CJONLYONE';
    src: url('../font/CJONLYONE/CJONLYONEBold.eot');
    src: url('../font/CJONLYONE/CJONLYONEBold.eot?#iefix') format('embedded-opentype'),
        url('../font/CJONLYONE/CJONLYONEBold.woff2') format('woff2'),
        url('../font/CJONLYONE/CJONLYONEBold.woff') format('woff'),
        url('../font/CJONLYONE/CJONLYONEBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* ========================
sprite background
========================*/

header .wrap_util a,
header .list_sns > li a,
header .wrap_gnb nav > ul > li > a,
footer .sec_info .list_share > li > a,
.sec_special ul li a {
  background-image:url(../images/sprite/sprite_common1.png);
  background-repeat: no-repeat;
}
.tab_special > button,
.slide button {
  background-image: url(../images/sprite/sprite_btn.png);
  background-repeat: no-repeat;
  background-color: transparent
}
.bg_line {
  background: url(../images/bg/bg_line.jpg) repeat-x 0 50%;
}
.bg_txt_special {
background-image: url(../images/sprite/text_specialtheater.png);
background-repeat: no-repeat;
}

.bg_grade {
background-image:url(../images/sprite/sprite_icon.png);
background-repeat: no-repeat;
}

/* 관람등급안내 */
.bg_grade.grade_12 { background-position: -51px 0}
.bg_grade.grade_19 { background-position: -93px 0}
.bg_grade.grade_all { background-position: -30px 0}






/* layout */
.wrap_tabbox > .bx_tab { display: none}
.wrap_tabbox > .bx_tab.on { display:block;}
.left { float: left;}
.right { float: right;}


/* ========================
header
========================*/
header { background: url(../images/bg/bg_header.gif) repeat-x 0 0 #fdfcf0 }
header > .wrap_com { position: relative; padding: 30px 0 0; }
header .wrap_util { position: absolute; top: 0; left: 0; right: 0}
/* header .wrap_util li { float: left} */
header .wrap_util a { display: block; height:  30px; line-height: 30px;}
header .wrap_util .left > * { float: left}
header .list_util > li { float: left; border-left: 1px solid #ddd;}
header .list_util > li a { padding: 0 10px}
header .list_util > li.login a { width: 29px; background-position: 10px 9px; }
header .list_util > li.join a { width: 39px; background-position: -42px 9px;}
header .list_util > li.my a { width: 39px; background-position: -103px 9px;}
header .list_util > li.vip a { width: 62px; background-position: -170px 9px;}
header .list_util > li.club a { width: 53px; background-position: -254px 9px;}
header .list_util > li.cs a { width: 38px; background-position: -328px 9px;
}
header .list_util > li.en a { width: 106px; background-position: -388px 9px;}

header .list_sns > li { float: left; border-left: 1px solid #ddd;}
header .list_sns > li a { padding: 0 10px}
header .list_sns > li.app a { width: 74px; background-position: 10px -714px;}
header .list_sns > li.facebook a { width: 44px; background-position: -85px -714px;}
header .list_sns > li.insta a { width: 60px; background-position: -263px -714px;
}
header .frugal { padding: 0 10px; width: 85px; border-left: 1px solid #ddd; border-right: 1px solid #ddd; background-position: -151px -714px; }
header .wrap_gnb { display: flex; justify-content: space-between; align-items: flex-end; height: 120px; padding: 0 0 32px ; box-sizing: border-box;}
header .wrap_gnb nav:before { content:""; display: block; width: 428px; height: 31px; background: url(../images/txt_cultureplex.png) no-repeat center/ auto
100%}
header .wrap_gnb nav > ul { display: table; padding: 10px 0 0; margin: 0 auto}
header .wrap_gnb nav > ul > li { position: relative; float: left}
header .wrap_gnb nav > ul > li > a {  position: relative;  display: block; height: 17px; width: 60px; }
header .wrap_gnb nav > ul > li ~ li { margin-left: 25px}
header .wrap_gnb nav > ul > li.movie > a { background-position:13px -28px }
header .wrap_gnb nav > ul > li.booking > a { background-position:-77px -28px }
header .wrap_gnb nav > ul > li.theaters > a { background-position:-166px -28px }
header .wrap_gnb nav > ul > li.event > a { background-position: -517px -28px; width: 90px}
/* snb */
header .wrap_gnb nav > ul > li:hover .wrap_snb{ display: block;}
header .wrap_snb { display: none; position: absolute; left: 0; z-index: 10; padding: 10px 0 0; width: 164px;  box-sizing: border-box;}
header .wrap_snb:before { content: ""; position: absolute; left: 50%; top: 0; width: 20px; height: 10px; background: url(../images/ico_smenu_arrow.png) no-repeat center / auto 100%; transform: translateX(-50%);}
header .wrap_snb > div {  background:url(../images/bg/bg_smenu.png) repeat-y 0 0; padding:3px; }
header .wrap_snb > div > ul { padding: 15px 0 ; border: 2px solid #828282;}
header .wrap_snb > div > ul > li ~ li { padding: 5px 0 0}
header .wrap_snb > div > ul a { display: block; padding: 0 0 0 15px; color: #fff; font-weight: 500;
font-size: 13px; line-height: 20px; box-sizing: border-box;}
/* 위치조정 */
header li.movie .wrap_snb { transform:translateX(-52px);}
header li.booking .wrap_snb { transform:translateX(-52px);}
header li.theaters .wrap_snb { transform:translateX(-52px);}
header li.event .wrap_snb { transform:translateX(-35px);}
header .wrap_gnb .ad { background: #fef8dc}
header .wrap_gnb .search { position: relative; padding: 5px 0 0}
header .wrap_gnb .search input { padding: 0 34px 0 5px; width: 141px; height: 24px; border: 1px solid #b5b5b5; box-sizing: border-box;}
header .wrap_gnb .search button { position: absolute; right: 0; bottom: 0; background: #e71a0f; color: #fff; width: 31px; height: 24px; font-size: 10px}

/* ========================
footer
========================*/
footer { padding: 0 0 147px; background: url(../images/bg/bg_footer.gif) repeat-x 0 97%}
footer .sec_info .list1 { padding: 28px 0 20px; }
footer .sec_info .list1 > li { float: left; font-size: 13px; letter-spacing: -0.2em}
footer .sec_info .list1 > li a { color: #444}
footer .sec_info .list1 > li a.color_org { color:#e7612e }
footer .sec_info .list1 > li ~ li:before { content:""; display: inline-block; margin: 0 5px; width: 1px; height: 13px; background: #949494; vertical-align: -1px}
footer .sec_info .list2 { position: relative; padding: 0 0 0 113px; font-size: 12px;}
footer .sec_info .list2:before { display: block; content: ""; width: 90px; height: 43px; position: absolute; left: 0; top: 5px; background: url(../images/sprite/sprite_common1.png) no-repeat -145px -319px}
footer .sec_info .list2 > li { float: left; line-height: 20px; letter-spacing: -0.05em}
footer .sec_info .list2 > li.copy { float: right;}
footer .sec_info .list2 .link_ftc { display: inline-block; height: 21px; width: 78px; border: 1px solid #b4b3aa; border-radius: 4px; color: #333; font-size: 11px; box-sizing: border-box; text-align: center; letter-spacing: -0.07em; vertical-align:0px;}
footer .sec_info .btm { position: relative;}
footer .sec_info .btm .bx_float { display: flex; align-items: center; position: absolute; right: 0; top: 0}
footer .sec_info .btm .bx_float > * { float: left}
footer .sec_info .list_share > li { float: left; margin-left: 2px}
footer .sec_info .list_share > li > a { display: block; width: 34px; height: 34px; border-radius: 100%;}
footer .sel_family { padding: 0 0 0 10px}
footer .sel_family select {  padding: 3px 5px; height: 29px; width: 140px; background: transparent; border: 1px solid #999; box-sizing: border-box;}
footer .sel_family button { width: 29px; height: 29px; background-color: #666; color: #fdfcf0; font-family: verdana, sans-serif; font-size: 10px; font-weight: bold; text-align: center;}

/* ========================
basic
========================*/
button { cursor: pointer;}



/* ========================
layout
========================*/
.wrap_com { width: 980px; margin: 0 auto; box-sizing: border-box;}
.float_none { float: none}
.wrap_scroll { overflow-x: scroll; overflow-y: hidden; white-space: nowrap; font-size: 0}
.wrap_scroll > * { display: inline-block; }

/* ========================
common
========================*/
#navigation_line { clear: both; width: auto; height: 28px; margin: 0 auto; box-sizing: border-box; border-bottom: 1px solid #cacac0; background-color: #F1F0E5; }

.linemap-wrap .sect-linemap { clear: both; position: relative; width: 980px; height: 28px; margin: 0 auto; }
.linemap-wrap .sect-linemap > .sect-bcrumb > ul > li:first-child > a > img { margin-top: 5px;}
.linemap-wrap .sect-linemap > .sect-bcrumb > ul > li { float: left;}
.linemap-wrap .sect-linemap > ul > li:first-child { border-left:  1px solid #acaca3;}
.linemap-wrap .sect-linemap > ul > li { padding: 0 10px; border-style: 1px solid #acaca3;}

.linemap-wrap {clear: both;  width:100%; background-color:#f1f0e5; border-bottom:1px solid #cacac0;}
.linemap-wrap .sect-linemap { position:relative; width:980px; height:28px; margin:0 auto;}
.linemap-wrap .sect-linemap > .sect-bcrumb {position:relative;}
.linemap-wrap .sect-linemap > .sect-bcrumb ul > li,
.linemap-wrap .sect-linemap li { float:left; }
.linemap-wrap .sect-linemap > .sect-bcrumb ul > li {margin-left:12px; padding-left:20px; background:url(https://img.cgv.co.kr/r2014/images/common/ico/ico_arrow.png) no-repeat 0 50%; font-size:12px;}
.linemap-wrap .sect-linemap > .sect-bcrumb ul > li:first-child {margin-left:0; padding-left:0; background:none;}
.linemap-wrap .sect-linemap > .sect-bcrumb ul > li:first-child > a > img {margin-top:5px;}

.linemap-wrap .sect-linemap > .sect-special ul > li > a {display:block; color:#222; font-size:12px; line-height:28px}
.linemap-wrap .sect-linemap > .sect-bcrumb ul > li strong{color:#222; text-decoration:underline; line-height:28px;font-weight:500;}
.linemap-wrap .sect-linemap > .sect-bcrumb ul > li.last{color:#222; font-size:12px; text-decoration:underline; line-height:28px;font-weight:500;}
.linemap-wrap .sect-linemap > .sect-special { overflow:hidden; position:absolute; top:0; right:0;}
.linemap-wrap .sect-linemap > .sect-special ul > li {padding:0 10px; border-right:1px solid #acaca3;}
.linemap-wrap .sect-linemap > .sect-special ul > li:first-child {border-left:1px solid #acaca3;}
.linemap-wrap .sect-linemap > .sect-special ul > li > a {color:#666; font-weight:500; font-size:11px; text-align:center;}
.linemap-wrap .sect-linemap > .sect-special ul li a.specialclub {
    background: url(https://img.cgv.co.kr/r2014/images/common/ico/ico_club_service.png) no-repeat 100% 50%;
    padding-right:25px; text-align: left; }

.linemap-wrap .sect-linemap > .sect-special ul li.dsr_btn +li a {color:#666;background:none;padding: 0 20px; width: auto; text-align: center;}
.linemap-wrap .sect-linemap > .sect-special ul > li a.photi {
          background: url(http://img.cgv.co.kr/R2014/images/common/ico/ico_photi.png) no-repeat 100% 50%;
          padding-right:25px; }

.nav_quick { position: fixed; left: 1461.5px; top: 240px;}
.nav_quick ul { padding: 0 4px; border: 3px solid #e71a0f; width: 116px; border-radius: 8px; overflow: hidden; background: #fdfcf0; box-sizing: border-box;}
.nav_quick ul li a { display: block;  }
.nav_quick .btn_top { width: 116px; height: 72px; background: url(../images/btn_top.png) no-repeat center }

/* style */
.line-height1 { line-height: 1}

/* heading */
.h_type1 { height: 41px; margin: 30px 0 15px; text-align: center;}
.h_type1 img { display:inline-block; padding: 0 10px; background-color: #fdfcf0;}

/* tab */
.tab_type1:before,
.tab_type1:after { content:""; display: inline-block; width: 19px; height: 39px; }
.tab_type1:before { background: url(../images/sprite/sprite_corner.png) 0 -20px no-repeat}
.tab_type1:after { background: url(../images/ribon_right.png) no-repeat center / 100% auto;}
.tab_type1 { display: flex; justify-content: center; }
.tab_type1 ul { padding: 0 15px; background: #e71a0f }
.tab_type1 li { float: left}
.tab_type1 li ~ li a:before { content:""; display: inline-block; margin: 0 15px; height: 14px; width: 1px; background: #fff; vertical-align:-1px;}
.tab_type1 li a { display: block; line-height: 39px; background: #e71a0f; color: #fff; font-size: 15px;}


/* list */
.list_type1 > li { float: left; margin-right: 6.6px;}
.list_type1 > li:nth-child(4n) { margin-right: 0;}
.list_type1 > li > a { display: block; width: 240px; height: 200px;}
.list_type1 > li > a > img { object-fit: cover;}


/* box */
.bx_type1 { display: flex; padding: 30px 0 0; justify-content: space-between;}
.bx_type1 > .bx_outer { padding: 3px; width: 240px; height: 273px; border: 3px solid #241d1e; box-sizing: border-box;}
.bx_type1 > .bx_outer:nth-child(2) { width: 486px;}
.bx_type1 .bx_inner { border: 1px solid #241d1e;}
.bx_type1 img { width: 100%; height: 100%;}


/* banner */
.banner_hori > a { position: relative; display: block; height: 182px; text-align: center; background-color: #19407c}
.banner_hori > a > div { position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);}

/* usj_theaters_index 시작 */
.line_wrap { width: 100%; background-color: #f1f0e5;
border-bottom: 1px solid #cacac0; }
.line_wrap > .line_sect { position: relative; width: 980px; height: 28px; margin: 0 auto; }
.line_wrap > .line_sect > .sect { position: relative; height: 28px; }
.line_wrap > .line_sect > .sect_side { overflow: hidden; position: absolute; top: 0; right: 0; height: 27px; }
.line_wrap > .line_sect > .sect_side ul > li:first-child { border-left: 1px solid #acaca3; height: 27px; }
.line_wrap > .line_sect > .sect_side ul > li {
padding: 0 10px; border-right: 1px solid #acaca3; height: 27px; }
.line_wrap > .line_sect > .sect_side ul > li{ float: left; }
.line_wrap > .line_sect > .sect_side ul li a{ color: #666; font-weight: 500; font-size: 13px; text-align: center; line-height: 27px;}
.line_wrap > .line_sect > .sect_side > ul li a.specialclub { padding-right: 25px; text-align: left; background: url(https://img.cgv.co.kr/r2014/images/common/ico/ico_club_service.png) no-repeat 100% 50%; }
.line_wrap .list_location { position: absolute; left:0}
.line_wrap .list_location > li > a { line-height: 27px;}


/*==============================================
          faverity CGV sector
==============================================*/

/* 자주가는 상영관 순위 */
section > .wrap_favorite { background-image: url(/common/images/bg/bg_showtimes_favorite.gif); background-repeat: no-repeat;}

#side_be_fav::before, 
#side_be_fav::after 
{ position: absolute; top: 0; z-index: 10; content: ''; width: 14px; height: 450px; }

.sec_visual > #wrap_fav > #side_be_fav::before { left: 0; background: url(/common/images/bg/bg_bricks_before.png) no-repeat 0 0; }
.sec_visual > #wrap_fav > #side_be_fav::after { right: 0; background: url(/common/images/bg/bg_bricks_after.png) no-repeat 0 0; }

.sec_visual > #wrap_fav > #side_be_fav > #sect_fav {
position: relative; width: 874px; height: 400px;
padding: 60px 53px 0; }
.sec_visual > #wrap_fav > #side_be_fav > #sect_fav > #area_fav { position: relative; width: 676px;
height: 49px; padding-left: 198px; }
.sec_visual > #wrap_fav > #side_be_fav > #sect_fav > #area_fav h4 { position: absolute; top: 14px; left: 33px; padding: 0; font: 0/0; zoom: 1; }
.sec_visual > #wrap_fav > #side_be_fav > #sect_fav > #area_fav > #favTheaters { width: 676px; height: 49px; }
.sec_visual > #wrap_fav > #side_be_fav > #sect_fav > #area_fav > #favTheaters li { float: left; margin-left: 2px; padding: 2px; border: 2px solid #6e6c6d; height: 41px; width: 109px; }
.sec_visual > #wrap_fav > #side_be_fav > #sect_fav > #area_fav > #favTheaters li a { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; position: relative; display: block; width: 107px; height: 39px; border: 1px solid #6e6c6d; color: #fff; font-weight: 500; font-size: 11px; line-height: 39px; text-align: center; }
.sec_visual > #wrap_fav > #side_be_fav > #sect_fav > #area_fav > #favTheaters li a span { position: absolute; top: 0; right: 2px; font-family: verdana, sans-serif; line-height: 1; }
.sec_visual > #wrap_fav > #side_be_fav > #sect_fav > #area_fav > #favTheaters li a span em { font: 0/0 a; }

/* 지역별(main) 도시별(sub) */
  /* 지역별(main) */
.sec_visual > #wrap_fav > #side_be_fav > #sect_fav > #area_fav > #btn_fav { overflow: hidden; position: absolute; top: 0; left: 794px; width: 49px; height: 49px; background: #636162 url(/common/images/btn_plus.gif); border: 2px solid #6e6c6d; line-height: 49px; text-indent: 100%; white-space: nowrap; text-align: center; }

#sect_fav > #sect_city ul { position: relative; width: 874px; height: 42px; }
#sect_fav > #sect_city ul li { float: left; margin:  0 8px; height: 42px; }
#sect_fav > #sect_city > .fir_chi li:first-child { margin-left: 6px;  }

#sect_city {height: 42px; margin-top: 18px; border-top:2px solid #727171; border-bottom:2px solid #727171;}
#sect_city > ul { position: relative; }
#sect_city > ul li a {padding:0 19px;color:#dbdbdb;font-size:14px;line-height: 42px;text-align:center;}
#sect_fav > #sect_city > ul .area {display:none; position:absolute; top:50px;left:10px; width:854px; }
#sect_fav > #sect_city > ul li.on .area { display: block; }
#sect_fav > #sect_city > ul li * li { margin: 6px 25px 0 0;  }
#sect_fav > #sect_city > ul li * li > a { position: relative; padding: 0; font-size: 14px; color: #b9b9b9; line-height: 31px; text-align: left; } /*(tag) 서브 지역명 폰트 및 서식 */

#sect_fav > #sect_city > ul li * li > a::before { display: inline-block; content: ''; width: 1px; height: 12px; background: #b9b9b9; position: absolute; right: -13px; top: 50%; margin-top: -6px; } /*(tag) 지역별 도시별 텍스트 호버 효과 */
#sect_fav > #sect_city > ul li * li:last-child > a::before { display: none;} /*(tag) 지역별 도시별 텍스트 호버 효과 */

#sect_fav > #sect_city > ul li * li.on > a, 
#sect_fav > #sect_city > ul li * li a:hover, 
#sect_fav > #sect_city > ul li * li a:focus
{ background: none; } /*(tag) 지역별 도시별 텍스트 호버 효과 */
#sect_fav > #sect_city > ul li.on > a, 
#sect_fav > #sect_city > ul li a:hover, 
#sect_fav > #sect_city > ul li a:focus
{ color: #fff !important; } /*(tag) 지역별 도시별 텍스트 호버 효과 */


/*=================================
            THEATER 공통 
===================================*/

.round, .round > * 
{ display: inline-block; position: relative; }
.round { line-height: 23px; font-weight: 500px; font-size: 15px; text-align: center; vertical-align: middle; }
.round.inred { 
  background: #e71a0f; border: 2px solid #e71a0f;
  color: #ffffff; line-height: 24px;
}
.sect_theater
.round:before, .round:after, .round > *:before, .round > *:after {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  background: #fdfcf0 url(/common/images/sprite/sprite_corner01.png) no-repeat;}
.round.inred:before {
    left: -2px;
    top: -2px;
    background-position: 0 -10px;
    z-index: 1;
}
.round.inred > *:before {
  right: -2px;
  top: -2px;
  background-position: -5px -10px;
}
.round.inred:after {
  left: -2px;
  bottom: -2px;
  background-position: 0 -15px;
}
.round.inred > *:after {
  right: -2px;
  bottom: -2px;
  background-position: -5px -15px;
}
.sect_theater a span{ padding: 0 14px; }
.sect_theater{ position : relative; }
.sect_theater h4{ padding-bottom : 5px; text-align : center;}
.sect_theater .tit_theater {text-align : left}
.sect_theater h4 span{ color : #333333; font-size : 32px; font-weight : 600; vertical-align : top;}
.sect_theater .btn_lease 
{ position: absolute; right: 0; top: 0; }

.wrap_theaterinfo { position: relative; }
.wrap_theaterinfo .box_img_size 
{ width: 980px; height: 420px; }
.wrap_theaterinfo .box_img_size .com_img img
{ width: 980px; height: 420px; }
.wrap_theaterinfo .box_img_size .com_img a 
{ position: absolute; right: 20px; top: 20px; display: block; width: 104px; height: 29px; }
.wrap_theaterinfo .contents_box { 
  position: absolute; left: 0; bottom: 0px; width: 920px; height: 124px; padding: 20px 30px; background: url(https://img.cgv.co.kr/R2014/images/common/bg/bg_dim80.png) 0 0 repeat; color: #fdfcf0;
}
.wrap_theaterinfo .theater_info { position: relative; float: left; width: 608px; }
.wrap_theaterinfo .theater_info .tit { padding-top: 10px; width: 400px; color: #fdfcf0; font-size: 13px; text-overflow: initial; white-space: initial; tab-size: 1px;  }
.wrap_theaterinfo .theater_info .tit a { display: inline-block; margin-left: 10px; color: #b1b1ab; font-size: 11px; }
.wrap_theaterinfo .txt_info { position: relative; left: 0px; float: left; width: 409px; height: 70px; padding-top: 14px; color: #fdfcf0; line-height: hidden; }
.wrap_theaterinfo .theater_info em { display: block; width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 13px; position: relative; }
.wrap_theaterinfo .theater_info span { display: block; height: 36px; overflow: hidden; }
.wrap_theaterinfo .theater_info .screentype { position: absolute; right: 10px; top: 8px; width: 180px; }
.wrap_theaterinfo .theater_info .screentype a { width: 82px; height: 17px; margin: 3px 2px; background: url(/common/images/sprite/sprite_screentype02.png) -99px 0 no-repeat; vertical-align: top; }

.screentype span, .screentype a {
  display: inline-block;
  width: 80px;
  height: 56px;
  background: url() no-repeat;
  font: 0/0 a;
  zoom: 1;
}

.wrap_theaterinfo .theater_info .screentype .gold{ background-position:-99px 0;}
.wrap_theaterinfo .theater_info .screentype .imax{ background-position:-99px -18px;}
.wrap_theaterinfo .theater_info .screentype .forDX{ background-position:-99px -36px;}
.wrap_theaterinfo .theater_info .screentype .premium{ background-position:-99px -54px;}
.wrap_theaterinfo .theater_info .screentype .veatbox{ background-position:-99px -72px;}
.wrap_theaterinfo .theater_info .screentype .starium{ background-position:-99px -90px;}
.wrap_theaterinfo .theater_info .screentype .sweetbox{ background-position:-99px -108px;}
.wrap_theaterinfo .theater_info .screentype .cine{ background-position:-99px -126px;}
.wrap_theaterinfo .theater_info .screentype .soundX{ background-position:-99px -144px;}
.wrap_theaterinfo .theater_info .screentype .screenX{ background-position:-99px -162px;}
.wrap_theaterinfo .theater_info .screentype .private{ background-position:-99px -180px;}
.wrap_theaterinfo .theater_info .screentype .drDre{ background-position:-99px -198px;}
.wrap_theaterinfo .theater_info .screentype .kids{ background-position:-99px -216px;}
.wrap_theaterinfo .theater_info .screentype .collage{ background-position:-99px -235px;}
.wrap_theaterinfo .theater_info .screentype .arthouse{ background-position:-99px -272px;}
.wrap_theaterinfo .theater_info .screentype .sphereX {background-position:-99px -291px;}
.wrap_theaterinfo .theater_info .screentype .tempurcinema {background-position:-99px -310px;}
.wrap_theaterinfo .theater_info .screentype .subpac {background-position:-99px -329px;}
.wrap_theaterinfo .theater_info .screentype .cinenforet {background-position: -99px -348px;}
.wrap_theaterinfo .theater_info .screentype .skybox {background-position: -99px -367px;}
.wrap_theaterinfo .theater_info .screentype .cineliving {background-position: -99px -386px;}
.wrap_theaterinfo .theater_info .screentype .fordx_scrx {background-position: -99px -405px;}
.wrap_theaterinfo .theater_info .screentype .suiteCinema {background-position: -99px -424px;}

.noti_theater { position: relative; top: 0; left: 0; float: right; height: 98px; padding: 10px 0 0 30px; border-left: 1px solid rgba(255, 255, 255, 0.2); overflow: hidden;}
.noti_theater h5 { position: relative; top: -3px; padding-bottom: 10px; font-size: 13px; }
.noti_theater ul li { font-size: 13px; line-height: 18px; color:  #fdfcf0; }
.noti_theater > .link_more { 
  position: absolute; top: 6px; left: 85px; display: inline-block; width: 20px; height: 19px; background: url(/common/images/sprite/sprite_btn.png) -50px -62px no-repeat; vertical-align: bottom; font: 0/0; zoom: 1;
}

div[class^="sect_"] .contents_box li a {
  display: block;
  width: 280px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fdfcf0;
}

.tab-menu { clear: both; }
.sect_theater .tab_menu { position: relative; margin: 30px 0 15px; }
/* tab */
.tab_type2:before,
.tab_type2:after { content:""; display: inline-block; width: 19px; height: 39px; }
.tab_type2:before { background: url(../images/sprite/sprite_corner.png) 0 -20px no-repeat; }
.tab_type2:after { background: url(../images/ribon_right.png) no-repeat center / 100% auto;}
.tab_type2 { display: flex; justify-content: center; }
.tab_type2 ul { padding: 0 15px; background: #e71a0f }
.tab_type2 li { float: left}
.tab_type2 li ~ li a:before { content:""; display: inline-block; margin: 0 15px; height: 14px; width: 1px; background: #fff; vertical-align:-1px;}
.tab_type2 li.on a{ padding-left: 15px; }
.tab_type2 li.last a{ padding-right: 15px; }
.tab_type2 li a { display: inline-block; position: relative; line-height: 39px; background: #e71a0f; color: #fff; font-size: 15px; font-weight: 700;}

.tab_type2 li.on a::before {     content: '';
  display: inline-block;
  width: 26px;
  height: 39px;
  padding-right: 5px; background: url(/common/images/ico_finger.png) 0 50% no-repeat; vertical-align: top; }

.tap_menu2 {position: absolute; top: 11px; width: 874px;}
.tap_menu2 .tab_type3:before,
.tap_menu2 .tab_type3:after { content:""; display: inline-block; width: 19px; height: 39px; }
.tap_menu2 .tab_type3:before { background: url(../images/sprite/sprite_corner.png) 0 -20px no-repeat; }
.tap_menu2 .tab_type3:after { background: url(../images/ribon_right.png) no-repeat center / 100% auto;}
.tap_menu2 .tab_type3 { display: flex; justify-content: center; }
.tap_menu2 .tab_type3 ul { padding: 0 15px; background: #e71a0f }
.tap_menu2 .tab_type3 li { float: left}
.tap_menu2 .tab_type3 li ~ li a:before { content:""; display: inline-block; margin: 0 15px; height: 14px; width: 1px; background: #fff; vertical-align:-1px;}
.tap_menu2 .tab_type3 li.on a{ padding-left: 15px; }
.tap_menu2 .tab_type3 li.last a{ padding-right: 15px; }
.tap_menu2 .tab_type3 li a { display: inline-block; position: relative; line-height: 39px; background: #e71a0f; color: #fff; font-size: 15px; font-weight: 700;}

.tap_menu2 .tab_type3 li.on a::before {     content: '';
  display: inline-block;
  width: 26px;
  height: 39px;
  padding-right: 5px; background: url(/common/images/ico_finger.png) 0 50% no-repeat; vertical-align: top; }

/* price_common */
#contents { position: relative; width: 980px; margin: 0 auto; }
input, select, img { vertical-align: middle; }
select {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  cursor: default;
  margin: 0em;
  font: 400 13.3333px Arial;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-image: initial; }
table { border-collapse: separate; }
tr { display: table-row; }
caption, th, td { font-weight: 300; line-height: 1.5em; vertical-align: middle; }
/* price_common */

#contents { clear: both; padding-bottom: 50px; }
.tit_price_info { position: relative; height: 51px; margin-top: 30px; border-bottom: 3px solid #241d1e; }
.tit_price_info h3 { display: inline-block; position: relative; height: inherit; margin: 0; background-image: none; color: #222; font-weight: 550; font-size: 36px; text-align: left; vertical-align: middle; }
.right_menu { position: absolute; right: 0; top: 15px; font-size: 20px; text-align: right; font-weight: normal; }
.right_menu, .right_menu a  { color: #ac9c8f; }
.right_menu a.on { color: #2f363f; }

.mov_price { padding: 40px; text-align: center; }
.mov_price .area_search { position: relative; display: inline-block; margin: 0 auto 20px; padding-bottom: 2px; overflow: hidden; border-bottom: 2px solid #ab9c8f; }
.mov_price .area_search::before { display: block; content: ''; position: absolute; left: 210px; top: 0; bottom: 2px; width: 1px; border-left: 1px solid #ccc0b7; }
.area_search .area_sell { width: 200px; margin-right: 21px; }
.mov_price .area_search select { float: left; border: none; background-color: transparent; padding: 0; font-size: 24px; height: 40px; line-height: 40px; font-weight: 300; }
.mov_price .area_search .area_sell2 { width: 380px; }
.main_sect { text-align: left; }
.main_sect #Price_box { padding-top: 15px; width: 1020px; height: 1480px; float: left; }
.Price_box { overflow: hidden; margin: 40px -20px 0 -20px; }
.main_tablebox .main_price_tab { float: left; width: 470px; margin: 0 20px; }
.main_price_tab { float: left; width: 470px; margin: 0 20px; }
.main_price_tab .tab_tit { display: block; margin: 0 0 5px; padding-left: 17px; font-size: 15px; color: #000; font-weight: 600; background: url(/common/images/bul_square.png) no-repeat 0 4px;  }
.tab_class { position: relative; margin: 10px 0 20px; padding-bottom: 45px; }
.tab_class table { width: 100%; border-bottom: 1px solid #ab9c8f; text-align: center; font-size: 13px; }
table caption { font: 0/0 a; zoom: 1; }
colgroup { display: table-column-group; }
.main_price_tab table thead th { color: #857362; font-weight: 300; padding-bottom: 5px; }
.main_price_tab table tr, .main_price_tab table td { padding: 3px 5px; text-align: center; color: #000;  }
.main_price_tab table tr.fir th, .main_price_tab table tr.fir td { padding-top: 12px; border-top: 1px solid #ab9c8f; }
.main_price_tab table tr.last th, .main_price_tab table tr.last td { padding-bottom: 12px; }
.main_etc { display: inline-block; margin-top: 40px; text-align: left; border-bottom: 2px solid #ab9c8f; width: 980px; height: 173px; font-size: 13px; }
.main_etc p { color: #857362; }
p.tail_txt { margin-top: 20px; text-align: left; font-size: 13px; color: #857362; line-height: 1.3;}
/* usj_theaters_index 끝 */


/* usj_theaters_default 시작 */
dl::after, ul::after, ol::after { content: ''; clear: both; display: block; }
button, input[type='submit'], input[type='button'] { cursor: pointer; margin: 0; padding: 0; }
body, input, textarea, select, button, table { font-family: 'CJONLYONENEW', '맑은 고딕', '돋움', 'Dotum', 'sans-serif'; }
li { display: list-item; text-align: -webkit-match-parent;
vertical-align: middle; }

/* usj_theaters_default 끝 */

/* git git git */

/* ticket_minimap */
.theater_minimap {position:absolute;background:#fcfbf0;border:3px solid #000;z-index:4000}        
.theater_minimap span.arr {position:absolute;left:50%;margin-left:-7px;bottom:-13px;width:15px;height:13px;background:url(http://img.cgv.co.kr/r2014/images/common/bg/bg_arrow04.png) no-repeat 0 0}
.theater_minimap .data_txt {padding:5px 10px;border-bottom:1px solid #ddd;text-align:center;}
.theater_minimap .data_txt p {font-weight:500;}
.theater_minimap .data_txt p.txt1 {font-size:12px;color:#000}
.theater_minimap .data_txt p.txt2 {font-size:11px}    
.theater_minimap .theater_time {font-size:10px;font-style:normal;font-weight:500;color:#000;text-align:center;padding:5px 0}
.theater_minimap .map_area {position:relative;border-bottom:1px solid #ddd;}
.theater_minimap .mini_container {position:relative;margin:0 auto;padding:0 20px;margin:0 auto;}
.theater_minimap .mini_container .mini_screen {text-align:center;padding-top:2px;text-decoration:underline;font-size:9px;font-family:Tahoma,Verdana,sans-serif}
.theater_minimap .mini_container .mini_seats {position:absolute;top:24px;left:35px}
.theater_minimap .mini_container .mini_seat {position: absolute;left: 0;right: 0;display: block;width: 4px;height: 4px;}
.theater_minimap .mini_container .mini_seat span {display: block;width: 3px;height: 3px;background-color: #8e8e8e;}
.theater_minimap .mini_container .mini_seat.reserved span {background-color: #dadada;}
/* 미니맵추가 */

/*==============================================
                  Clubservice(usj)
==============================================*/

.contents { clear: both; padding-bottom: 50px; position: relative; width: 980px; margin: 0 auto; }
.tit { position: relative; height: 51px; margin-top: 30px; border-bottom: 3px solid #241d1e; }
.tit h3 { display: inline-block; position: relative; height: inherit; margin: 0; background-image: none; color: #222; font-weight: 800; font-size: 36px; text-align: left; vertical-align: middle; }
.sub_tit #p1 { display: block;margin-bottom: 7px;font-size: 20px;color: #2c2c2c;line-height: 1.3; }
.sub_tit #p2 { font-size: 13px;color: #2c2c2c;line-height: 150%; }
.fir_block { position: relative; padding-top: 387px; margin: 0 0 0 -14px; }
.fir_block:last-child { padding-bottom: 50PX; }
.fir_block .area_1 {  left: 0; top: 0; }
.fir_block .area_2 {  right: 0; top: 0; }
.fir_block .com_area { border: 1px solid #edeae0; width: 482px; background: #fff; box-shadow: #e5e4da 0 0 3px; position: absolute; margin: 20px 0 0 13px;}
.fir_block .area_1 .com_box { position: relative; height: 290px; }
.fir_block .area_1 .com_box::before { overflow: hidden; position: absolute; left: 12px; top: 15px; display: block; content: ''; width: 100px; height: 80px; }
.fir_block .area_1 .com_box a { color: #000; text-decoration: none; }
.fir_block .area_1 .com_box img { display: block; width: 100%; height: 100%; }

.fir_block .area_1 .com_box.on .Appear { display: block; }
.Appear { display: none; position: absolute; left: 0; right: 0; top: 0; bottom: 0; color: #fff; text-align: center; background-color: rgba(0,0,0,.8); }
.fir_block .CS_titbox { height: 28px; position: relative; padding: 23px 20px; background: #fff; border-bottom: 1px solid #e5e5e5; }
.CS_titbox .CS_ind_tit { display: block; margin-right: 100px; font-size: 24px; color: #000; font-weight: 300; }

.sect_wrap { width: auto; height: 240px; }


/* =============================================
              club service popup (koic)
==================================================*/
.club_popup{
  display: none;
  position: relative;
  z-index: 2;
  clear: both;
  margin: 20px 0 0 13px;

  padding-top: 20px;
  width: 980px;

  background: #222222;
}
.club_popup_in{
  /* border : 1px solid blue; */
  height: 70px;
  background: #222222;
  
}

.club_popup_in::before{
  display: block;
    content: '';
    position: absolute;
    left: 222px;
    top: -18px;
    width: 33px;
    height: 18px;
  background : url('https://img.cgv.co.kr/R2014/images/club/bg_club_benefit_arrow.png') no-repeat 0 0;
}

.club_title{
    display: block;

    margin-left: 40px;
    font-size: 34px;
    font-weight: 500;
    color: #edf3f6;
    font-family: 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    
}
.club_QR{
  width: 900px;
  background : black;
  height: 140px;
  position: relative;
  margin: 0 auto;
  
}
.qr_txt{
  /* border : 1px solid red; */
  position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: #edf3f6;
    
}
.qr_code{
  width: 100px;
    height: 100px;
    background: #fff;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -50px;
}
.qr_code > img{
  width: 100px;
    height: 100px;
}
.txt1 {
  font-size: 20px;
    color: #fff;
    margin: 0 0 12px 0;
    font-family: 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
}
.txt2 {
  font-size: 13px;
  color: #999;
  line-height: 18px;
    font-family: 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
}
.benefit_title{
  /* border : 1px solid red; */
  color : #fff;
  width: 900px;
  margin : 40px auto;
  
}
.club_popup em{
  
    font-size: 20px;
    font-weight: 500;
    margin : 0 0 4px 0;
    color: #fff;
    line-height: 1.2;
    font-family: 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;

}
.club_popup span{
  
  font-size: 13px;
  color: #999;
    line-height: 1.2;
    font-family: 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;

}
.benefit_list{
  list-style: none;
  color : white;
  width: 900px;
  margin : 0 auto;
  box-sizing: border-box;
}
.benefit_sem1::before{
    height: 40px;
    content: '';
    display: inline-block;
    width: 55px;
    background-position: 0 0;
    vertical-align: middle;
    background: url(https://img.cgv.co.kr/r2014/images/club/ico_benefit_1318.png) no-repeat 0 0;
    margin-bottom: 40px;
    
}


.benefit_sem2::before{
    height: 40px;
    margin-left: 30px;
    content: '';
    display: inline-block;
    width: 55px;
    background-position: 0 0;
    vertical-align: middle;
    background: url(https://img.cgv.co.kr/r2014/images/club/ico_benefit_1318.png) no-repeat 0 -115px;
    margin-bottom: 40px;
    
}
.benefit_sem1{
  float: left;
  width: 440px;
  display: block;
  
  
}
.sem1_title{
  display: inline-block;
  vertical-align: middle;

  
}
.sem2_title{
  display: inline-block;
  vertical-align: middle;
  
}
.benefit_sem2{
  
  float: right;
  width: 440px;

}
.benefit_sem1 > ul {
  float: right;
  margin-right: 30px;
  
}
.benefit_sem2 > ul {
  float: right;
}
.benefit_list em{
  font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.benefit_list span{
  display: block;
  margin-top: 10px;
  line-height: 1.5em;
}
.benefit_list > li {
  display: inline-block;
}

.benefit_sem1 > ul > li{
    font-size: 14px;
    margin: 0 0 5px 0;
    line-height: 1.2;
    color: #666;
    font-family: 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    font-weight: 300;
}
.benefit_sem2 > ul > li{
    font-size: 14px;
    margin: 0 0 5px 0;
    line-height: 1.2;
    color: #666;
    font-family: 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    font-weight: 300;
}
.benefit_sem_line{
  
  width: 2px;
  height: 150px;
  background-color: #757575;
  margin : 0 auto;

}

.popup_benifit:after{
    content: '';
    margin: 38px auto;
    display: block;
    width: 90%;
    height: 1px;
    background: #2f2f2f;
    border-top: 1px solid #000;
}
.sp_benefit{
  width: 900px;
  margin : 0 auto;
}
.sp_benefit_info{
  width: 100%;

  box-sizing: border-box;
  margin-top: 20px;
}

.sp_benefit_info  div {
  display: inline-block;
}


.sp_info1_img{
  height: 42px;
    content: '';
    display: inline-block;
    width: 55px;
    margin-top: 5px;
  vertical-align: top;
  background: url(https://img.cgv.co.kr/r2014/images/club/ico_benefit_1318.png) no-repeat 0 -343px;

}
.sp_info2_img{
  height: 42px;
    content: '';
    display: inline-block;
    width: 70px;
    margin-top: 5px;
    margin-left: 20px;
  vertical-align: top;
  background: url(https://img.cgv.co.kr/r2014/images/club/ico_benefit_1318.png) no-repeat 0 -572px;

}
.sp_info3_img{
  height: 42px;
    content: '';
    display: inline-block;
    width: 60px;
    margin-top: 5px;
    margin-left: 20px;
  vertical-align: top;
  background: url(https://img.cgv.co.kr/r2014/images/club/ico_benefit_1318.png) no-repeat 0 -686px;
}
.sp_benefit:after{
  content: '';
    margin: 38px auto;
    display: block;
    width: 95%;
    height: 1px;
    background: #2f2f2f;
    border-top: 1px solid #000;
}
.benefit_note_list{
  margin : 0 auto;
  width: 900px;
}
.txt_gray{
  font-size: 12px;
  color: #999;
    line-height: 1.2;
    font-family: 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    list-style: inside;
}
.txt_gray1{
  font-size: 16px;
  color: #999;
    line-height: 1.2;
    font-family: 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    list-style: inside;
}

.txt_white{
  font-size: 16px;
    font-weight: 500;
    display: inline-block;
    width: 200px;
    padding-top: 10px;
    height: 30px;
    color: #fff;
    line-height: 1.2;
    font-family: 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    /* border : 1px solid red; */
}

.txt_line1 {
  margin-right: 10px;
}
.txt_line2{
  margin-left: 80px;
}
.benefit_note:after{
  content: '';
  margin: 38px auto;
  display: block;
  width: 90%;
  height: 1px;
  
}
.couple_img{
    display: inline-block;
    /* border : 1px solid red; */
    vertical-align: top;
    width: 130px;
}
.club_QR .txt{
  display: inline-block;

}
.couple_clup{
  border : 1px solid red; 
  width: 900px;
  margin : 20px auto;
}
/* =============================================
              club service popup (koic) 끝
==================================================*/