#contents {
    clear: both;
    position: relative;
}
.cols_content {
    margin-top: 20px;
    height: 900px;
}

/* aside */
.cols_aside {
    float: left;
    width: 160px;
}
.snb ul {
    display: block;
    margin-bottom: 10px;
    width: 160px;
}
.snb {
    width: 160px;
}
.snb li.on {
    background-color: #e71a0f;
}
.snb li.on > a {
    color: #fdfcf0;
    text-align: center;
    vertical-align:-webkit-baseline-middle;
}
.snb li {
    width: 155px;
    height: 34px;
    margin-bottom: 1px;
    border-bottom: 1px solid #ccc;
}
.snb li > a {
    color: #222;
    font-size: 14.5px;
    font-weight: bold;
    height: 34px;
    position: relative;
    text-align: center;
    vertical-align:-webkit-baseline-middle;
}
.snb > ul > li:hover {
    background-color: #e71a0f;
}
.snb > ul > li:hover > a {
    color: #fdfcf0;
}
.snb > ul > li:hover > a > i {
    display: block;
    position: absolute;
    top: 3;
    left: -18px;
    width: 18px;
    height: 34px;
    background: url(../images/ribon_left.png) no-repeat 0 0;
}

/* 옆 컨텐츠 */
.cols_content .col_detail {
    float: right;
    width: 800px;
}

.check_wrap .c_box.qna_search {
    width: 200px;
    background: #e71a0f url(../images/ico_search.png) center 50px scroll no-repeat;
    background-size: 50px;
    border-right: none;
}

.check_wrap .c_box {
    float: left;
    display: block;
    width: 199px;
    height: 260px;
    text-align: center;
    border-right: 1px solid #dedace;
}

.check_wrap .qna_search .c_title {
    color: #fff;
    display: block;
    padding-top: 135px;
    font-size: 16px;
    letter-spacing: -0.059em;
}

.check_wrap .qna_search .search_box input {
    float: left;
    width: 170px;
    height: 12px;
    padding: 8px 0;
    margin-left: 18px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 12px;
    text-indent: 7px;
    vertical-align: middle;
    border: none;
    background-color: #fff;
    position: relative;
    margin-bottom: 5px;
}
.check_wrap .qna_search .search_box .btn_search {
    position: absolute;
    top: 173px;
    left: 335px;
    width: 34px;
    height: 15px;
    font-weight: 500;
    font-size: 0;
    line-height: 30px;
    background: transparent url(/common/images/btn_search.png) center scroll no-repeat;
    background-size: 16px;
}
.check_wrap .qna_search .c_qu a {
    padding: 2px;
    font-size: 11px;
    color: #fff;
    vertical-align: top;
}
.check_wrap .talk_inquiry {
    background: #ede9dd url(/common/images/ico_talk.png) center 50px scroll no-repeat;
    background-size: 50px;
}
.check_wrap .c_title {
    display: block;
    padding-top: 135px;
    font-size: 16px;
    color: #222;
    letter-spacing: -0.059em;
}

.check_wrap .c_txt {
    display: block;
    margin: 11px 0px 17px;
    font-size: 12px;
    color: #958772;
    letter-spacing: -0.042em;
}
.check_wrap .c_txt + a {
    overflow: hidden;
    display: block;
    width: 80px;
    margin: 0 auto;
    font-size: 12px;
    color: #fff;
    letter-spacing: -0.042em;
    line-height: 23px;
    text-align: center;
    vertical-align: middle;
    background-color: #9a8d79;
    border-radius: 4px;
}
.check_wrap .email_inquiry {
    background: #ede9dd url(/common/images/ico_email.png) center 50px scroll no-repeat;
    background-size: 50px;
}
.check_wrap .my_advice {
    background: #ede9dd url(/common/images/ico_email.png) center 50px scroll no-repeat;
    background-size: 50px;
}

/* 자주찾는 서비스 */
.service_area {
    margin-top: 30px;
    float: left;
    width: 267px;
    height: 350px;
}
.service_area .tit, .notice_area .tit {
    color: #222;
    font-size: 16px;
    font-weight: bold;
    border-bottom: none;
}
.service_area .list {
    padding-top: 15px;
    margin: -5px 0px 0px -5px;
}
.service_area .list li {
    margin: 5px 0px 0px 5px;
    float: left;
}
.service_area .list li a {
    padding: 24px 20px 25px 17px;
    display: block;
    width: 94px;
    height: 32px;
    color: #222;
    line-height: 20px;
    font-weight: bold;
    font-size: 13px;
    background: url(/common/images/bg_c_main.png) no-repeat 0 -287px;
}

/* 공지/뉴스 */
.notice_area {
    margin-top: 28px;
    float: left;
    width: 267px;
    height: 287px;
    position: relative;
    float: right;
    width: 473px;
    height: 287px;
    line-height: 1.7;
}
.notice_area .tit {
    color: #222;
    font-size: 16px;
    font-weight: bold;
    border-bottom: none;
}
.notice_area .txt {
    margin-top: 15px;
}
.notice_area .txt li a {
    float: left;
    overflow: hidden;
    display: block;
    width: 400px;
    color: #222;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    font-size: 12px;
}
.notice_area .txt .day {
    color: #222;
    font-size: 11px;
}

.notice_area .c_btn_more {
    position: absolute;
    top: 5px;
    left: 75px;
    display: inline-block;
    width: 20px;
    height: 19px;
    background: url(/common/images/bg_c_main.png) no-repeat -159px -287px;
    text-indent: -999px;
}
.notice_ban_area {
    margin-top: 18px;
}
.notice_ban_area .ban_preview {
    float: left;
    display: block;
    width: 231px;
    height: 95px;
    background: url(/common/images/bg_c_main.png) no-repeat 0 -163px;
    text-indent: -9999px;
}
.notice_ban_area .ban_discount {
    float: right;
    display: block;
    width: 232px;
    height: 95px;
    background: url(/common/images/bg_c_main.png) no-repeat -241px -163px;
    text-indent: -9999px;
}

/* 분실문주의~고객센터 */
.c_under_area {
    clear: both;
    padding: 30px 0px 35px 0px;
    color: #222;
    border-top: solid 1px #cacac1;
    border-bottom: solid 1px #cacac1;
}
.c_under_area li {
    float: left;
    width: 25%;
}
.c_under_area .ico_lost {
    padding-left: 48px;
    background-position: -3px -88px;
}
.c_under_area .ico_general {
    padding-left: 53px;
    background-position: -158px -88px;
}
.c_under_area .ico_vipinfo {
    padding-left: 49px;
    background-position: -361px -88px;
}
.c_under_area .ico_vipcustomer {
    padding-left: 38px;
    background-position: -513px -88px;
}
.c_under_area .tit_shortcut {
    display: inline-block;
    height: 33px;
    line-height: 33px;
    font-size: 16px;
    background: url(/common/images/bg_c_main.png) no-repeat;
}
.c_under_area .ico_lost {
    padding-left: 48px;
    background-position: -3px -88px;
}
.c_under_area .ico_general {
    padding-left: 53px;
    background-position: -158px -88px;
}
.c_under_area .ico_vipinfo {
    padding-left: 49px;
    background-position: -361px -88px;
}
.c_under_area .ico_vipcustomer {
    padding-left: 38px;
    background-position: -513px -88px;
}
.c_under_area .txt {
    display: block;
    margin: 10px 30px 13px 0px;
    font-size: 12px;
}
.c_under_area .round.on.gray {
    height: 20px;
}
.round.on.gray {
    width: 55px;
    border: 2px solid #7b7b7b;
    background-color: #7b7b7b;
    color: #ffffff;
    font-weight: bold;
    border-radius: 3px;
    font-size: 12px;
    padding: 1px;
}

.tel_inquiry {
    overflow: hidden;
    margin-top: 20px;
    font-size: 14px;
    color: #222;
}
.tel_inquiry li:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
}
.tel_inquiry .time {
    font-size: 12px;
}

.sect_theater .round:before, .round:after, .round > *:before, .round > *:after {
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    background: none;
}

/*                       */
/*  support_lease.html   */
/*                       */
 
.cols_content { clear: both; margin-top: 25px; color: #666; font-family: 'CJONLYONENEW', '맑은 고딕', '돋움', 'Dotum', 'sans-serif'; font-size: 13px; bottom: 50px; height: 1500px; }
.cols_content .email_list_area { display: block; margin-left: 170px; margin-bottom: 50px; }
.cols_content .email_list_area .customer_top { margin-bottom: 23px; }
.cols_content .email_list_area .customer_top .tit { border-bottom: 0; font-size: 16px; font-weight: 500; height: auto; font-weight: bold;} 
.cols_content .email_list_area .customer_top .stil { margin-top: 5px; font-size: 14px; line-height: 22pxs;}
.cols_content .email_list_area .tbl_area { padding-top: 10px; overflow: visible;}
.cols_content .email_list_area legend { visibility: hidden; font-size: 0;}
.cols_content .email_list_area .tbl_area .tbl_info_txt { padding: 0 10px; line-height: 30px; border-top: 1px solid #b8b6aa; background-color: #edebe1; text-align: right; }
.cols_content .email_list_area .tbl_area .tbl_notice_list { border-top: solid 1px #d6d4ca; border-bottom: 1px solid #b8b6aa ;}
.cols_content .email_list_area .tbl_area .tbl_notice_list.tbl_left th { padding: 15px 0px 15px 13px; text-align: left; border-top: 1px solid #d6d4ca;  }
.cols_content .email_list_area .tbl_area .tbl_notice_list.tbl_left tbody th { line-height: 27px; vertical-align: top; }
.cols_content .email_list_area .tbl_area .tbl_notice_list.tbl_left tbody td { padding: 15px 5px; border-top: 1px solid #d6d4ca; }
.cols_content .email_list_area .tbl_area .tbl_notice_list .hidden { font-size: 0; visibility: hidden; }
.cols_content .email_list_area .tbl_area .tbl_notice_list .sel01 { margin-right: 5px; padding-right: 0; height: 27px; color: #666; line-height: 27px; font-weight: 300; border: 1px solid #b5b5b5; vertical-align: middle; background-color: #fdfcf0; padding: 3px 5px;} 
.cols_content .email_list_area .tbl_area .tbl_notice_list .inp01 { padding: 0 10px; height: 25px; line-height: 25px; border: 1px solid #b5b5b5; background-color: #fdfcf0; }
.cols_content .email_list_area .tbl_area .tbl_notice_list .ui-datepicker-trigger { width: 28px; height: 28px; margin-left: 3px !important; background: url(../../contents/support/image/ico_datapicker.gif) no-repeat 0 0; font: 0/0 a; zoom: 1; }
.cols_content .email_list_area .tbl_area .tbl_notice_list .inp_txtbox01 { padding: 10px; width: 672px; height: 40px; border: 1px solid #b5b5b5; background-color: #fdfcf0; resize: vertical; }
.cols_content .email_list_area .tbl_area .tbl_notice_list .byte_info { margin-top: 5px; color: #333333; font-weight: bold; font-family: 'Verdana'; text-align: right; }
.cols_content .email_list_area .tbl-breakdown-re { padding: 0 0 20px 0; border-bottom: 1px solid #b8b6aa;}
.cols_content .email_list_area .tbl-breakdown-re h4 { font-size: 14px; font-style: normal; font-weight: bold; margin: 36px 0 12px 0; color: #333; }
.cols_content .email_list_area .tbl-breakdown-re .tbl-breakdown-inner-re { overflow: hidden; margin-top: 41px; }
.cols_content .email_list_area .tbl-breakdown-re .tbl-breakdown-inner-re_areaL { float: left; width: 386px; }
.cols_content .email_list_area .tbl-breakdown-re .tbl-breakdown-inner-re_areaL h5 { font-weight: bold; font-size: 13px; color: #333; line-height: 16px; }
.cols_content .email_list_area .tbl-breakdown-re .tbl-breakdown-inner-re_areaL .lease_dlList { overflow: hidden; margin-top: 20px !important; font-size: 13px; color: #666; line-height: 20px;}
.cols_content .email_list_area .tbl-breakdown-re .tbl-breakdown-inner-re_areaL .lease_dlList dt { clear: both; float: left;}
.cols_content .email_list_area .tbl-breakdown-re .tbl-breakdown-inner-re_areaL .lease_dlList dd { float: left; padding-left: 4px; }
.cols_content .email_list_area .tbl-breakdown-re .tbl-breakdown-inner-re_areaR { float: left; width: 414px;}
.cols_content .email_list_area .tbl-breakdown-re .tbl-breakdown-inner-re_areaR h4 { font-weight: bold; font-size: 13px; color: #333; line-height: 16px; }
.cols_content .email_list_area .tbl-breakdown-re .tbl-breakdown-inner-re_areaR .lease_tbl_style { margin-top: 10px !important; font-size: 10px; color: #333; }
.cols_content .email_list_area .tbl-breakdown-re .tbl-breakdown-inner-re_areaR table { margin: 0 0 10px 0; border-bottom: none; border-top: 1px solid #b8b6aa; border-bottom: 1px solid #b8b6aa ;}
.cols_content .email_list_area .tbl-breakdown-re .tbl-breakdown-inner-re_areaR table thead th:first-child { border-left: none !important; }
.cols_content .email_list_area .tbl-breakdown-re .tbl-breakdown-inner-re_areaR table thead th { font-weight: 500; padding: 0; height: 34px; color: #666; background-color: #e2e2e0; font-size: 11px; line-height: 34px; border-bottom: 1px detted #b8b6aa; text-align: center; border-left: 1px solid #b9b6aa;}
.cols_content .email_list_area .tbl-breakdown-re .tbl-breakdown-inner-re_areaR table td { border-left:  1px solid #b9b6aa; border-bottom: 1px solid #b8b6aa;}
.cols_content .email_list_area .tbl-breakdown-re .tbl-breakdown-inner-re_areaR table tbody { text-align: center; }
.cols_content .email_list_area .tbl-breakdown-re .tbl-breakdown-inner-re_areaR table tbody th { border-bottom: 1px solid #b9b6aa;}
.cols_content .email_list_area .tbl-breakdown-re .tbl-breakdown-inner-re_areaR table tbody td { padding: 8px; font-weight: 400; font-size: 10px; color: #333; line-height: 13px; vertical-align: middle; border-left: 1px solid #b8b6aa !important;}
.cols_content .email_list_area .tbl-breakdown-re1 table { margin: 0 0 10px 0; border-bottom: none; border-top: 1px solid #b8b6aa; border-bottom: 1px solid #b8b6aa ;}
.cols_content .email_list_area .tbl-breakdown-re1 table thead th:first-child { border-left: none !important; }
.cols_content .email_list_area .tbl-breakdown-re1 table thead th { font-weight: 500; padding: 0; height: 34px; color: #666; background-color: #e2e2e0; font-size: 13px; line-height: 34px; border-bottom: 1px detted #b8b6aa; text-align: center; border-left: 1px solid #b9b6aa;}
.cols_content .email_list_area .tbl-breakdown-re1 table td { border-left:  1px solid #b9b6aa; border-bottom: 1px solid #b8b6aa;}
.cols_content .email_list_area .tbl-breakdown-re1 table tbody { text-align: center; }
.cols_content .email_list_area .tbl-breakdown-re1 table tbody th { border-bottom: 1px solid #b9b6aa;}
.cols_content .email_list_area .tbl-breakdown-re1 table tbody td:first-child { border-left: none !important; }
.cols_content .email_list_area .tbl-breakdown-re1 table tbody td { padding: 10px; font-weight: 400; font-size: 12px; color: #333; line-height: 13px; vertical-align: middle; border-left: 1px solid #b8b6aa !important;}
.cols_content .email_list_area .tbl-breakdown-re1 h4 { font-weight: bold; font-size: 14px; color: #333; line-height: 16px; font-style: normal; margin: 36px 0 12px 0; }
.cols_content .email_list_area .tbl-breakdown-re1 .agreeAlign { text-align: left; padding-left: 38px; }
.cols_content .email_list_area .tbl-breakdown-re1 .desc { background: url(../../contents/support/image/ico_bullet1.png) no-repeat 14px 2px; padding: 0 0 0 23px; margin: 0 0 10px 0; font-size: 12px; font-style: normal; font-weight: 500;  }
.cols_content .email_list_area .tbl-breakdown-re1 { padding: 0 0 20px 0; border-bottom: 1px solid #b8b6aa; }
.cols_content .email_list_area .box-btn { margin-top: 30px; text-align: right; }
.cols_content .email_list_area .box-btn .round { display: inline-block; position: relative; border: 1px solid #333; border-radius: 3px; }
.cols_content .email_list_area .box-btn .round > * { box-sizing: border-box; width: 100%; height: 100%; padding: 0 5px 0; font-size: 12px; }
.cols_content .email_list_area .box-btn .round.inred > * { border: 1px solid #ea5b50;}
.cols_content .banner_area { margin-left: 170px;}


/* 질문 게시판 */
.customer_top .tit{font-size:16px;}
.customer_top .stit{margin-top:5px;font-size:14px;}

.board_view_area{margin-top:19px;}
.top_title_faq{overflow:hidden;padding:11px;border-top:solid 1px #b8b6aa;background-color:#edebe1;}
.top_title_faq .title{float:left;font-size:12px;font-weight:500;display:block;overflow:hidden;width:520px;white-space:nowrap;text-overflow:ellipsis;}
.top_title_faq .stit_area{float:right;font-size:12px; line-height: 16px; }
.top_title_faq .stit_area em { line-height: 16px; vertical-align: middle; }
.top_title_faq .stit_area .check_tit_area{margin-left:30px;}
.top_title_faq .stit_area .check_num, .top_title_faq .stit_area .regist_day{margin-left:9px;font-size:12px ;font-family:'Verdana'; color: #222;}
.view_area{padding:35px 13px;border-bottom:solid 1px #b8b6aa; line-height: 24px;}
.view_area p { min-height: 24px; }
.customer_btn{margin:20px 0px 30px 0px;text-align:right;}

.btm_sup_list{overflow:hidden;border-top:solid 1px #b8b6aa;border-bottom:solid 1px #b8b6aa;font-size:13px;}
.btm_sup_list .line_sup_next{overflow:hidden;padding:15px 19px 12px 13px;}
.btm_sup_list .line_sup_prev{overflow:hidden;padding:15px 19px 12px 13px;border-top:solid 1px #d4d2c6;}
.btm_sup_list .line_sup_next .stit{float:left;padding-right:15px;background:url(../images/common/ico/ico_arrow_customer.png) no-repeat right 3px;}
.btm_sup_list .line_sup_prev .stit{float:left;padding-right:15px;background:url(../images/common/ico/ico_arrow_customer.png) no-repeat right -39px;}
.btm_sup_list .check_writ_area{float:right;font-size:12px;}
.btm_sup_list .name{float:left;margin-left:17px;display:block;width:580px;}
.btm_sup_list .name a { display: block; width: 575px; text-overflow:ellipsis; white-space:nowrap; overflow: hidden; }
.btm_sup_list .check_writ_area .check_num{display:inline-block;width:72px;margin-left:5px;font-size:12px ;font-family:'Verdana';text-align:right;*display:inline;*zoom:1;}

.c_input {display:inline-block; height:25px; line-height:22px; padding-left:10px; border:1px solid #b5b5b5;}
legend {font:0/0 a; position:absolute; right:-999em; top:-999em; zoom:1;}

.qu_txt{display:inline-block;margin:6px 0px 0px 15px;width:400px;font-weight:500;font-size:12px;}
.qu_txt .first{padding:0 10px 0 0px;border-left:0;}
.qu_txt span{padding:0 10px;border-left:solid 1px #000;}
.qu_txt span a:hover, .qu_txt span a:active{text-decoration:underline;}


.round.inblack{ background:#222222; border:2px solid #222222; color:#ffffff; line-height:21px;}
.round.inblack:before{ left:-2px; top:-2px; background-position:-10px -10px; z-index:1;}
.round.inblack:after{ left:-2px; bottom:-2px; background-position:-10px -15px;}
.round.inblack > *{border:1px solid #5b5b58;}
.round.inblack > *:before{ right:-3px; top:-3px; background-position:-15px -10px;}
.round.inblack > *:after{ right:-3px; bottom:-3px; background-position:-15px -15px;}
.round.inblack > * {padding: 0 12px;}
.round > *{box-sizing:border-box;-moz-box-sizing:border-box;width:100%;height:100%;padding:0 5px 0;} /* 20140620 Del padding-top:2px !important; */
.round:before, .round:after , .round > *:before, .round > *:after{content:'';display:block;position:absolute;width:5px;height:5px;background:#fdfcf0 url('../images/sprite/sprite_corner01.png') no-repeat;}

.c_tab_wrap {position:relative; margin-top:15px;border-bottom:2px solid #898987;height:35px;}
.c_tab {overflow:hidden;}
.c_tab > li {float:left; position:relative; display:block; width:87px; height:37px; margin-left:2px; line-height:36px; text-align:center;background-color:#898987;font-weight:500;font-size:13px;color:#fff;}
.c_tab > li:first-child {margin-left:0;}
.c_tab > li:before,
.c_tab > li:after { content:'';display:block;position:absolute;width:4px;height:4px;background:#eeeade url(../images/bg_sprite_tab.png) no-repeat 0 0;}
.c_tab > li:before{left:0;top:0;background-position:0 0;}
.c_tab > li:after{right:0; top:0; background-position:-4px 0;}
.c_tab > li.on {width:88px;background-color:#ea1400;}
.c_tab > li.on:before{left:0; top:0; background-position:-20px 0;}
.c_tab > li.on:after{right:0; top:0; background-position:-24px 0;}
.c_tab > li > a {display: block; font-size: 13px; }

.search_result{margin:30px 0px 10px 0px;}
.search_result .tit{font-size:13px;color:#e71a0f;}
.search_result .num{font-weight:500;}

.tbl_area{overflow:hidden;padding-top:10px;}
.tbl_notice_list{border-top:solid 1px #d6d4ca;border-bottom:solid 1px #b8b6aa;}
.tbl_notice_list thead th{padding:10px 0 8px 0px;border-bottom:solid 1px #e1dfd5;text-align:center;background-color:#edebe1;}
.tbl_notice_list .first td{border-top:0;}
.tbl_notice_list tbody td{padding:15px 0px 13px 0px;border-top:solid 1px #d6d4ca;text-align:center;}
.tbl_notice_list .tit, .tbl_notice_list .txt {text-align:left;padding: 10px 15px 8px;}
.tbl_notice_list .txt a:hover, .tbl_notice_list .txt a:active{font-weight:500;text-decoration:underline;}
.tbl_notice_list .num{text-align:center;}

.paging{ text-align:center; margin-top:25px;}
.paging > ul{ display:inline-block; vertical-align:top;}
.paging li{display:inline-block;padding:0 8px;color:#333333;font-family:Verdana, Geneva, sans-serif;font-size:14px;font-weight:bold;line-height:28px;}
.paging li.on,
.paging li a:hover,
.paging li a:focus {color:#993333;text-decoration:underline;}
.paging li.paging-side{ padding:0;}
*+html .paging li.on a{color:#993333; text-decoration:underline;}
*+html .paging > ul{ display:inline;}
*+html .paging li{ display:inline;}

.search_order{overflow:hidden;margin-top:60px;padding:22px 0px;text-align:center;border-top:solid 2px #333;border-bottom:solid 1px #999;}
.search_order ol{display:inline-block;}
.search_order li:first-child{margin-left:0px;padding-left:0px;background-image:none;}
.search_order li{float:left;margin-left:20px;padding-left:25px;font-size:14px;font-weight:500;background:url(../images/common/ico/ico_arrow_order.png) no-repeat left 50%;}
.search_order .ico_oder{display:inline-block;height:30px;line-height:30px;padding-left:35px;background:url(../images/bg_order.png) no-repeat 0 0;}
.search_order .find_q{background-position:0px 0px;}
.search_order .email_i{margin-right:10px;background-position:0px -36px;}
.search_order .tel_i{background-position:0px -80px;}
.search_order .num{margin-left:10px;color:#666;}
.round.inblack > * {padding: 0 12px;}

.btn-paging {display:inline-block;min-width:56px;height:28px;margin:0 2px;border:1px solid #cacac1;background:url('../images/btn_paging.gif') no-repeat;background-color:#faf9ed;color:#333333;font-size:11px;font-weight:500;line-height:28px;vertical-align:middle;}
.btn-paging.dim{ color:#b0afa9;cursor:default}
.btn-paging.prev{ padding:0 10px 0 24px; background-position:0 0;}
.btn-paging.prev.dim{ background-position:0 -26px;}
.btn-paging.next{ padding:0 24px 0 10px; background-position:right -52px;}
.btn-paging.next.dim{ background-position:right -78px;}
.btn-paging.first{ min-width:27px; padding:0; width:25px; background-position:4px -104px; font:0/0 a; zoom:1;}
.btn-paging.first.dim{ background-position:4px -130px;}
.btn-paging.end{ min-width:27px; padding:0; background-position:5px -156px; font:0/0 a; zoom:1;}
.btn-paging.end.dim{ background-position:6px -182px;}
