@charset "utf-8";
/* Reset */
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,
dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin:0;padding:0;}
body,input,select,textarea,button {border:none;}
ul,ol,li{list-style:none;}
table{width:100%;border-spacing:0;border-collapse:collapse;}
img,fieldset{border:0;}
address,cite,code,em{font-style:normal;font-weight:normal;}
label,img,input,select,textarea,button{vertical-align:middle;}
hr{display:none;}
a{color:#000;text-decoration:none;}


.clear {clear:both;}
.clear:after { content:""; display:block; clear:both;}
.hide {overflow: hidden; display:block; position:absolute; border: 0; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px);}


* {
    box-sizing: border-box;
}

.hidden_off {
    display: none;
}
.hidden_on {
    display: block;
}


/* layout */
.left { float: left;}
.right { float: right;}

body{
    margin-left: 20px;
}
.content{
    position: relative;
    width: 520px;
    height: 300px;
    margin-top: 20px;
    /* border : 1px solid #b8acf0 */
}
.nav {
    padding-top: 10px;
    float: left;
    width: 200px;
    /* border : 1px solid red; */
    text-align: right;
    padding-right: 20px;

}
.nav_info{
    padding-top: 10px;
    float: left;
    width: 300px;
}
.content li {
    height: 30px;
}
.content input, select {
    border : 1px solid rgb(151, 151, 250);
    height: 20px;
}
.content > p {
    display: inline-block;
    /* border : 1px solid red; */
    height: 30px;
    margin-left: 300px;
    margin-top: 10px;
    
}
#reg_btn {
    background-color: rgb(170, 170, 250);
    height: 25px;
    width: 70px;
    font-size: 17px;
    font-weight: 600;
    
}