body, input, textarea, select, button, table {
    font-size: 13px;
    line-height: 1.3;
    color: #666;
    font-family: 'CJONLYYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    font-weight: 300;
}


/* movies_list.html */

input, select, img { vertical-align: middle; }


#navigation_line { clear: both; width: auto; height: 28px; margin: 0 auto; box-sizing: border-box; border-bottom: 1px solid #cacac0; background-color: #F1F0E5; }
 

.linemap-wrap .sect-linemap { clear: both; position: relative; width: 980px; height: 28px; margin: 0 auto; }
.linemap-wrap .sect-linemap > .sect-bcrumb > ul > li:first-child > a > img { margin-top: 5px;}
.linemap-wrap .sect-linemap > .sect-bcrumb > ul > li { float: left;}
.linemap-wrap .sect-linemap > ul > li:first-child { border-left:  1px solid #acaca3;}
.linemap-wrap .sect-linemap > ul > li { padding: 0 10px; border-style: 1px solid #acaca3;}


.linemap-wrap {clear: both;  width:100%; background-color:#f1f0e5; border-bottom:1px solid #cacac0;}
.linemap-wrap .sect-linemap { position:relative; width:980px; height:28px; margin:0 auto;}
.linemap-wrap .sect-linemap > .sect-bcrumb {position:relative;}
.linemap-wrap .sect-linemap > .sect-bcrumb ul > li,
.linemap-wrap .sect-linemap li { float:left; }
.linemap-wrap .sect-linemap > .sect-bcrumb ul > li {margin-left:12px; padding-left:20px; background:url(https://img.cgv.co.kr/r2014/images/common/ico/ico_arrow.png) no-repeat 0 50%; font-size:12px;}
.linemap-wrap .sect-linemap > .sect-bcrumb ul > li:first-child {margin-left:0; padding-left:0; background:none;}
.linemap-wrap .sect-linemap > .sect-bcrumb ul > li:first-child > a > img {margin-top:5px;}

.linemap-wrap .sect-linemap > .sect-special ul > li > a {display:block; color:#222; font-size:12px; line-height:28px}
.linemap-wrap .sect-linemap > .sect-bcrumb ul > li strong{color:#222; text-decoration:underline; line-height:28px;font-weight:500;}
.linemap-wrap .sect-linemap > .sect-bcrumb ul > li.last{color:#222; font-size:12px; text-decoration:underline; line-height:28px;font-weight:500;}
.linemap-wrap .sect-linemap > .sect-special { overflow:hidden; position:absolute; top:0; right:0;}
.linemap-wrap .sect-linemap > .sect-special ul > li {padding:0 10px; border-right:1px solid #acaca3;}
.linemap-wrap .sect-linemap > .sect-special ul > li:first-child {border-left:1px solid #acaca3;}
.linemap-wrap .sect-linemap > .sect-special ul > li > a {color:#666; font-weight:500; font-size:11px; text-align:center;}
.linemap-wrap .sect-linemap > .sect-special ul li a.specialclub {
    background: url(https://img.cgv.co.kr/r2014/images/common/ico/ico_club_service.png) no-repeat 100% 50%;
    padding-right:25px; text-align: left; }

.linemap-wrap .sect-linemap > .sect-special ul li.dsr_btn +li a {color:#666;background:none;padding: 0 20px; width: auto; text-align: center;}
.linemap-wrap .sect-linemap > .sect-special ul > li a.photi {
           background: url(http://img.cgv.co.kr/R2014/images/common/ico/ico_photi.png) no-repeat 100% 50%;
           padding-right:25px; }

/* movie finder 시작  usj */
/*common*/
.contents { position: relative; width: 980px; margin: 0 auto; }
h3 { text-align: center; font-weight: 500; }
h3 > img { padding: 0 8px; }
input, select, img { vertical-align: middle; }
body, input, textarea, select, button, table { font-size: 13px; line-height: 1.2; color: #666; font-weight: 300; }
table { width: 100%;}
colgroup { display: table-column-group; }
caption, th, td { font-weight: 300; line-height: 1.5em; text-align: center; vertical-align: middle; }
    

/* finder_box 시작  usj */

.finder_box { background: url(../../../common/images/bg/bg_bricks.png) repeat-x 0 0;}
.slide { position: relative; height: 450px; overflow: hidden;}
.contents { clear: both; padding-bottom: 50px; }
.contents::before { left: 0; background: url(../../../common/images/bg/bg_bricks_before.png); }
.finder_inside_box { width: 980px; height: 450px; background: #29353d; }
.finder_inside_box h3 { height: auto; margin: 0; padding: 15px 0 10px; background: none; line-height: 1.2;  }
.finder_inside_box h3 img { background: none; }
.finder_inside_box table { border-collapse: collapse; }
table .finder_col01 { border-collapse: collapse; }
.finder_inside_box th { display: inline-block; padding-left: 34px; text-align: left; }
.finder_inside_box th, .finder_inside_box td {padding: 11px 0; border-top: 1px solid #3e484f; color: #fdfcf0; font-size: 13px; vertical-align: middle; }

/* finder_box 끝  usj */
/* movie finder 끝  usj */

/* .sect-special  */
.wrap-movie-chart {clear: both; width: 980px; margin: 0 auto; box-sizing: border-box;}
.tit-heading-wrap { margin-top: 30px; border-bottom: 3px solid black;}
.tit-heading-wrap > h3 { display:inline-block; position: relative; height: inherit; text-align: left; font-weight: 500; font-size: 36px; color: #222; vertical-align: middle;}

.submenu { float: right;}
.submenu > ul > li { float: left; font-size: 14px; font-weight: 500; padding-left: 30px; vertical-align: middle;}
.submenu > ul > li > a { display: inline-block; padding-left: 13px; font-weight: 500; font-size: 14px; }
.submenu > ul > li > a:focus { color: #e40000; }
.submenu > ul > li > a:hover::before { content: "▶"; color: #e40000; }

.sect-sorting { clear: both; zoom: 1; position: relative; margin-top: 20px; text-align: right;}
.sect-sorting > .nowshow {position: absolute; left: 0; top: 0;}

.sect-movie-chart { clear: both; margin-top: 30px; width: 980px; height: auto; }
.sect-movie-chart > .hidden { height: 0; overflow: hidden; position: absolute; visibility: hidden; }
.sect-movie-chart > ol { display: block; padding-top: 10px; margin-left: 0;  height: 440px; border-bottom: 3px solid black; padding-bottom: 20px;}
.sect-movie-chart > ol > li { display: inline-block; position: relative; margin: 0 3%; width: 212px; height: 272px; margin-left: 0; }
.sect-movie-chart > ol > li  .thumb-image { display: block; position: relative; border: 6px solid #000000;}
.thumb-image > .ico-grade { left: 10px; top: 10px;}

.sect-movie-chart > h4:first-child + ol .rank { display:block; height:28px; margin-bottom:4px; border: 6px solid #000000;  background: red; color:#ffffff; font-size:19px; text-align:center; line-height:28px; }
.sect-movie-chart > h4:first-child + ol + ol .rank { display:block; height:28px; margin-bottom:4px; border: 6px solid #000000;  background:#333333; color:#ffffff; font-size:19px; text-align:center; line-height:28px; }
.sect-movie-chart > .box-image > img { height: 260px; border: 6px solid black; display: block; position: relative;}



.screentype1 > a { clear: both; width: 59px; height: 20px; text-align: center; vertical-align: top; }
.screentype1 > .imax { clear: both; display: inline-block; position: absolute;  left: 5px; top: 310px;  background: url(../Image/sprite_screentype_v3.png) no-repeat; zoom: 1; font-size: 0;}
.screentype1 > .forDX { clear: both; display: inline-block; position: absolute; left: 64px; top: 310px; background: url(../Image/sprite_screentype_v3.png) no-repeat; zoom: 1; font-size: 0;}
.screentype1 > .screenx { clear: both; display: inline-block; position: absolute; left: 120px; top: 310px; background: url(../Image/sprite_screentype_v3.png) no-repeat; zoom: 1; font-size: 0; }
.screentype1 > .imax { background-position:  0 -780px;}
.screentype1 > .forDX { background-position:  0 -820px;}
.screentype1 >.screenx { background-position:  0 -880px;}


.title { display: block; color: #333333; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 15px; padding-bottom: 5px;}
.box-contents > a { text-decoration: none; }

.score > .percent { vertical-align: middle; }
.score > .percent > span { display: inline-block; margin-left: 10px; color: #333333; font-size: 12px; font-weight: normal; font-family: Verdana, Geneva, Tahoma, sans-serif; }
.score > .egg-gage { display: inline-block; width: auto !important; line-height: 1; margin-top: -10px; margin-left: -2px; padding-left: 6px; background: url(../Image/bg_writeinfo.gif) 0 12px no-repeat; vertical-align: middle; }
.score > .egg-gage.small > .egg { display: inline-block; margin-right: 2px; width: 18px; height: 26px; background: url(../Image/sprite_egg.png) no-repeat 0 -47px; vertical-align: middle; }
.score > .egg-gage.small > .egg.great { width: 16px; background-position: -41px -47px; }
.score > .egg-gage.small > .percent { display: inline-block; margin-top: 8px; font-family: 'verdana'; font-size: 12px; color: #000000; vertical-align: middle;}

.txt-info > strong { font-size: 11px; font-weight: 500; }
.link-reservation { padding-top: 10px; margin-top: 5px; display:block; width: 97px !important; height: 25px !important; background: url(../Image/sprite_preegg.png) 0 -110px no-repeat !important; }
.link-reservation { background-position: -96px 0; }
.link-reservation > p { visibility: hidden; }

.btn-more-fontbold { height: 20px; font-size: 13px; font-weight: 500; color: #333333; line-height: 20px; }
.btn-more-fontbold { float: right; margin-top: 10px; }
.link-more { display: inline-block; width: 20px; height: 19px; background: url(../Image/sprite_btn.png) -50px -62px no-repeat; vertical-align: middle; font-size: 0; }


.chart-ad-bottom { clear: both; padding-top: 30px; }
.sect-movie-chart > .chart-ad { clear: both; position: absolute; left: 1200px; top: 340px;}
.sect-movie-chart > .chart-ad { width: 189px; height: 414px; padding: 2px; border: 3px solid #070707; background: #212120;}

.no1 { position: absolute; left: 85%; top: 310px;}
.no1 { position: absolute; display: block; width: 48px; height: 74px; background: url(../Image/sprite_icon.png) -300px -20px no-repeat; font: 0/0 a; zoom: 1; z-index: 1; }
.no1 { background-position: -300 -20; }

.ico-grade{display:block;position:absolute;left:5px;top:5px;width:21px;height:21px;background:url('../Image/sprite_icon.png') no-repeat;font:0/0 a;zoom:1;}
.ico-grade.grade-all{ background-position:-30px 0;}/* 전체 */
.ico-grade.grade-12{background-position:-51px 0;}/* 12세 */
.ico-grade.grade-15{ background-position:-72px 0;}/* 15세 */
.ico-grade.grade-19{ background-position:-93px 0;}/* 청불 */
.ico-grade.grade-none{ background-position:-114px 0;}/* 미정 */
.eng .ico-grade.grade-all{ background-position:-135px 0;}/* 영어전체 */
.eng .ico-grade.grade-19{ background-position:-156px 0;}/* 영어 청불 */


div { display: block;}


.chart-ad-bottom { padding: 20px 0 20px; align-content: center; width: 980px; margin: 0 auto; box-sizing: border-box;}
.cols-rank {position:relative; clear: both; margin-top: 80px; top: -10px; padding: 0 38px 0px 60px; background: #252121; zoom: 1;  width: 882px; height: 430px; margin: 0 auto;}


.col-rank-trailer { float: left; width: 630px; padding: 39px 0 43px;  color: #252121;}
.col-rank-search { float: left; width: 217px; height: 348px; padding: 39px 0 43px 34px; border-left: 1px solid #3b3838; }
.cols-rank h3 { color: #eeeeee; font-size: 15px; height: auto; margin: 0 0 20px 0; line-height: 1.2; text-align: left;}
.col-rank-search .searchrank ol { border-top: 1px solid #484545; border-bottom: 1px solid #484545; padding: 10px 0; margin-bottom: 17px; font-weight: 200;}
.col-rank-search .searchrank ol > li a {clear: both; display: inline-block; width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.col-rank-search .searchrank ol > li { clear: both; position: relative;  padding-right: 43px;}
.col-rank-search .searchrank li { display:contents ; margin: 7px; line-height: 1;}
.col-rank-search .searchrank ol > li em { position: relative; top: -20px; left: 200px; vertical-align:auto;}


.col-rank-search .searchrank ol > li em span {   display: inline-block; width: 7px; height: 12px; margin-left: 3px; background: url(../Image/sprite_icon.png) no-repeat; vertical-align: middle; zoom: 1; font-size: 0; }
.col-rank-search .searchrank ol > li em span.new {  background-position: -16px -105px;}
.col-rank-search .searchrank ol > li em span.up { background-position: 0 -105px;}
.col-rank-search .searchrank ol > li em span.down { background-position: -8px -105px;}
.col-rank-search .searchrank a { color: inherit;}
.col-rank-search .searchrank li a:hover strong{ color:#ffffff; text-decoration:underline;}



.wrap-info-trailer { float: left; margin-right: 20px; }
.wrap-info-trailer .box-image.trailer {width:319px; height:179px; margin-bottom:13px;}
.wrap-info-trailer .box-image.trailer a{ display:block;}
.wrap-info-trailer .box-image.trailer .thumb-image img {max-height:179px;}
.ico-play { background: url(../Image/sprite_icon.png) -60px -21px no-repeat; zoom: 1;}
.wrap-info-trailer .box-image.trailer .ico-play { display: block; position: absolute; top: 175px; left:23%; width:66px; height:66px; margin:-33px 0 0 -33px; background-position:-121px -21px; font-size: 0;}
.wrap-info-trailer .box-image + .box-image{ float:left; width:90px; height:120px; margin-right:15px;}
.wrap-info-trailer .thumb-image > .ico-grade { top: 275px; left: 65px; }
.wrap-info-trailer .box-contents{ float:left; width:204px; padding:20px 10px 0 0;}
.wrap-info-trailer .box-contents a{ display:block;}
.wrap-info-trailer .box-contents .title{ color:#999999; margin-bottom:3px;}
.wrap-info-trailer .box-contents .txt-info { display: inline-block; color:#999999; margin-bottom:3px; font-size: 12px; }
.wrap-info-trailer .box-contents .txt-info  i { display: block; font-style: normal;  }
.wrap-info-trailer .box-contents .txt-info > span {display: block; }


.wrap-info-trailer .screentype{ margin-top:15px;}
.wrap-info-trailer .screentype a, .wrap-info-trailer .screentype span{ display:inline-block; width:22px; height:12px; vertical-align:top; font-style: normal; }
.wrap-info-trailer .screentype .imax{ width:34px; background-position:0 -540px;}
.wrap-info-trailer .screentype .threeD{ background-position:0 -552px;}
.wrap-info-trailer .screentype .soundX{ width:40px; background-position:0 -576px;}
.wrap-info-trailer .screentype .gold{ width:60px; background-position:0 -600px;}
.wrap-info-trailer .screentype .cine{ width:57px; background-position:0 -612px;}
.wrap-info-trailer .screentype .collage{ width:41px; background-position:0 -588px;}

.box-image.trailer { max-height: 179px; }
.box-image img { width: 100%; }
.sect-popular-trailer > ul{float:left;}
.sect-popular-trailer > ul > li{ width:285px; margin-top:8px; padding-right:5px;}
.sect-popular-trailer > ul > li:after{ content:''; clear:both; display:block;}
.sect-popular-trailer > ul > li:first-child{ margin-top:0;}
.sect-popular-trailer > ul > li .box-image{ float:left; width:126px; height:71px; margin-right:10px;}
.sect-popular-trailer > ul > li .box-image .ico-play{ display: inline-block; position: relative; top: -60px; left:40px; width:34px; height:34px; background-position: 0px -121px; font-size: 0; }
.sect-popular-trailer > ul > li .box-contents{ height:47px; padding-top:24px;}
.sect-popular-trailer > ul > li .box-contents .title{ display: block; color:#999999; margin-bottom:3px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-weight: 500; font-size: 13px; line-height: 0.9;}
.sect-popular-trailer > ul > li .box-contents .genre{ display: block; color:#999999; text-overflow: ellipsis; overflow: hidden;white-space: nowrap; font-size: 11px; line-height: 1; font-style: normal; font-weight: 200;}
.sect-popular-trailer > ul > li .box-contents .genre i { font-style: normal;}
.sect-popular-trailer > ul > li .box-contents > span { color: #999999; font-style: normal; }
.sect-popular-trailer li .dday{ margin-left:5px; font-size:9px; vertical-align:bottom;}


.banner_hori { clear: both; }


/* detail_view.html */
.sect-base-movie { border: 1px solid black; margin-top: 40px; }
.sect-base-movie h3 { font-size: 0; }
.sect-base-movie .thumb-image img { float: left; width: 185px; height: 260px; }
.sect-base-movie .thumb-image .ico-grade { top: 100px; left: 5px; }
.sect-base-movie .thumb-image .ico-posterdetail { position: absolute;  background: url(../Image/sprite_icon.png) 0 0 no-repeat; left: 4px; bottom: 30px; width: 24px; height: 24px;}
.sect-base-movie .box-contents { float: left; position: relative; width: 760px; margin-left: 30px; }
.sect-base-movie .box-contents .title { color: #1a1919; font-size: 25px; vertical-align: middle; font-family: 'CJONLYYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif; line-height: 1.2; }
.sect-base-movie .box-contents .title strong { font-weight: 500; }
.sect-base-movie .box-contents .title .round { display: inline-block; position: relative; line-height: 23px; font-weight: 500; text-align: center; vertical-align: middle; }
.sect-base-movie .box-contents .title .round > * { width: 100%; height: 100%; padding: 0 5px 0; }
.sect-base-movie .box-contents .title .round::before { content: ''; display: block; position: absolute; width: 5px; height: 5px; background: #fdfcf0 url(../Image/sprite_corner01.png) no-repeat;}
.sect-base-movie .box-contents .title .round.lightblue > *:before { right: -2px; top: -2px; background-position: -25px -5px; }
.sect-base-movie .box-contents .title .round::after { content: ''; display: block; position: absolute; width: 5px; height: 5px; background: #fdfcf0 url(../Image/sprite_corner01.png) no-repeat;}
.sect-base-movie .box-contents .title .round.lightblue > *::fter { right: -2px; top: -2px; background-position: -25px 0; }

.sect-base-movie .box-contents .title p { font-size: 12px; color: #666666; font-family: Verdana, Geneva, sans-serif; }
.sect-base-movie .box-contents .score { margin-top: 25px; padding-bottom: 10px; border-bottom: 1px solid #141414; font-size: 14px; }
.sect-base-movie .box-contents .spec::after { content: ''; display: block; clear: both;}
.sect-base-movie .box-contents .spec { color: #333333; font-size: 13px; font-weight: 500; padding-top: 18px; line-height: 1.6;  }
.sect-base-movie .box-contents .spec dt { float: left; }
.sect-base-movie .box-contents .spec dd { white-space: normal; text-overflow: clip; overflow: visible; }
.sect-base-movie .box-contents .spec .on { float: none; }


.sect-base-movie .like { float: left; padding-top: 10px; }
.sect-base-movie .like .link-count { width: 104px; height: 33px; border: 1px solid #222222; line-height: 33px; text-align: center; display: inline-block; border-radius: 4px; margin-right: 2px; color: #222222; font-size: 14px; font-weight: 400; background-color: #fdfcf0; }
.sect-base-movie .like .link-reservation { display: inline-block; width: 91px; height: 35px;}

.cols-content .tab-menu { clear: both; text-align: center; }
.cols-content .tab-menu li { display: inline-block; margin-left: -4px;}
.cols-content .tab-menu li:first-child { padding-left: 20px; height: 39px; background: url(../Image/sprite_corner.png) 0 -20px no-repeat;}
.cols-content .tab-menu li.on a::before { content: ''; display: inline-block; width: 26px; height: 39px; padding-right: 5px; background: #e71a0f url(../Image/ico_finger.png) 0 50% no-repeat; vertical-align: top;}
.cols-content .tab-menu li a { display: inline-block; position: relative; height: 39px; padding: 0 15px; color: #ffffff; font-size: 15px; font-weight: 500; text-align: center; line-height: 39px; background: #e71a0f url(../Image/bg_tebmenu-line.gif) 0 12px no-repeat; }
.cols-content .tab-menu li:first-child a { background: #e71a0f;}
.cols-content .tab-menu .last { padding-right: 19px; height: 39px; background: url(../Image/ribon_right.png) right 0 no-repeat;}

.cols-content .sect-story-movie { clear: both; color: #333333;  line-height: 1.8; margin-top: 40px; }
.cols-content .sect-story-movie strong { font-size: 13px; font-weight: bold; }

.cols-content .graph{ padding-top: 40px; overflow:hidden;  }
.cols-content .graph li{ float:left; width: 400px; height: 261px; padding-bottom:10px; border-top:1px solid #cccccc; border-left:1px solid #cccccc; margin-right:-1px; }
.cols-content .graph li:first-child{ border-left:none;}
.cols-content .graph li strong{display:block;height:58px;border-bottom:1px solid #cccccc;color:#4a4a4a;text-align:center;line-height:58px;}
.cols-content .graph li > .chart{ min-height:192px}
.cols-content .graph li > div .point{ margin:20px 0 0 20px;}
.cols-content .graph li > div .point + .chart{ min-height:158px;}

.cols-content .col-detail{ position:relative; width:800px; float:left}
.cols-content .col-aside{ width:160px; float:right;}

.cols-content .movie-detail-ad { clear: both; padding: 30px 0 0; }

.cols-content .sect-trailer { content: ''; clear: both; margin-top: 40px; display: block; }
.cols-content .sect-trailer .heading { position: relative; width: 100%; height: 39px; background: #e2e0d2; margin-bottom: 20px;}
.cols-content .sect-trailer .heading h4 { float: left; margin-left: 16px; line-height: 39px; color: #333333; font-size: 13px; font-weight: 500; letter-spacing: -1px; }
.cols-content .sect-trailer .heading .count { display: inline-block; margin-left: 4px; font-weight: 300; line-height: 40px; }
.cols-content .sect-trailer .heading .link-more { margin-left: 9px; }
.cols-content .sect-trailer > ul { margin-left: 0; }
.cols-content .sect-trailer > ul > li { float: left; }
.cols-content .sect-trailer > ul > li + li { float: left; }
.cols-content .sect-trailer .box-image { content: ''; clear: both; display: block; }
.cols-content .sect-trailer .box-image img { width: 260px; height: 142px; padding-left: 3px;}

.cols-content .sect-trailer .box-image .ico-play { font-size: 0; position: relative; right: 5px; bottom: 6px; width: 44px; height: 44px; background: url(../images/sprite/sprite_icon.png) -60px -21px no-repeat;}
/* .cols-content .sect-trailer .box-image .ico-play {  } */

.cols-content .sect-trailer .title { margin-top: 10px; font-size: 13px; line-height: 16px;}
.cols-content .sect-trailer .title .ico-trailer.hd { border-color: #2a6fb6; color: #2a6fb6 }
.cols-content .sect-trailer .title .ico-trailer { display: inline-block; height: 13px;  margin-right: 5px; padding: 0 3px; border: 1px solid #c62424; font-size: 10px; font-family: Dotum, '돋움'; text-align: center; font-weight: bold;line-height: 13px; }
.cols-content .sect-trailer .txt-info { display:block; margin-top: 0; color: #666666; font-size: 12px; font-family: Verdana, Geneva, sans-serif; }

.cols-content .sect-stillcut { content: ''; clear: both; margin-top: 40px; display: block; }
.cols-content .sect-stillcut .heading { position: relative; width: 100%; height: 39px; background: #e2e0d2; margin-bottom: 20px;}
.cols-content .sect-stillcut .heading h4 { float: left; margin-left: 16px; line-height: 39px; color: #333333; font-size: 13px; font-weight: 500; letter-spacing: -1px; }
.cols-content .sect-stillcut .heading .count { display: inline-block; margin-left: 4px; font-weight: 300; line-height: 40px; }
.cols-content .sect-stillcut .heading .link-more { margin-left: 9px; }
.cols-content .sect-stillcut .slider .item-wrap > .item { z-index: 5; text-align: center; }


.cols-content .movie_grade { clear: both; position: relative; border-top: 2px solid #666666; margin-top: 30px; padding-top: 30px;}
.cols-content .movie_grade .egg_point { height: 134px;}
.cols-content .movie_grade .egg_point .title { width: 450px; font-size: 24px; line-height: 30px; position: absolute; top: 35px; left: 0;} 
.cols-content .movie_grade .egg_point .rating { position: absolute; top: 40px; right: 30px; }
.cols-content .movie_grade .egg_point .rating .box .sprite_preegg { background: url(../Image/sprite_preegg.png) no-repeat 0 0; background-size: 300; display: inline-block; vertical-align: middle;}
.cols-content .movie_grade .egg_point .rating .box .sprite_preegg.big.default { background-position: 0px -40px;}
/* .cols-content .movie_grade .egg_point .rating .box .sprite_preegg { position: absolute; top: 0; left: 0; } */

.cols-content .movie_grade .chart_total { position: relative; clear: both; border: 1px solid #ddd; margin-bottom: 20px; }
.cols-content .movie_grade .chart_total .title { position: relative; padding-top: 28px; padding-left: 30px; font-size: 20px; line-height: 1.5em; color: #222222; font-weight: 500;}
.cols-content .movie_grade .chart_total .radar-graph { text-align: center; }


.cols-content .sect-grade .real-rating { padding: 30px; position: relative; width: 100%; background: #EBEDE3; border-radius: 5px; box-sizing: border-box; }
.cols-content .sect-grade .sort { text-align: left; margin: 20px 0 10px; }
.cols-content .sect-grade .sort li.on > a {color: #e71a0f; }


.cols-content .sect-grade .wrap-persongrade .point_col2 { margin: 0 auto -2px !important; padding: 0 25px;}
.cols-content .sect-grade .wrap-persongrade { border: 1px solid #999999; color: #333333;}

.cols-content .sect-grade .box-image .thumb-image img { display: block; position: relative; left: 0; top: 0; width: 62px; height: 62px; border-radius: 100px; }


/* movies_HDtrailer.html */
#contaniner { width: 100%; }
.bg-bricks { background: url(../Image/bg_c_bricks.png) repeat-x 0 29px; }

.sect-common::before { position: absolute; top: 0; z-index: 10; content: ''; width: 14px; height: 450px; }

.sect-common .cols-player{height:390px;padding:30px 32px 30px 41px;background:#1d1b1c;zoom:1;}
.sect-common .cols-player:after{ content:''; clear:both; display:block;}
.sect-common .cols-player h3{height:auto;margin:0;background:none;line-height:1.2;text-align:left; color:#ffffff; font-size:15px; margin-bottom:10px;}
.sect-common .col-player{ float:left;}

/* .sect-common .warp-player { width:640px; height:360px;} */
.sect-common .cols-player .ico-trailer { display: inline-block; height: 13px;  color: #2a6fb6; margin-right: 5px; padding: 0 3px; border: 1px solid #2a6fb6; font-size: 10px; font-family: 'Dotum', '돋움'; text-align: center; font-weight: bold; line-height: 13px; }

.sect-common .cols-player iframe { border-style:  inset; border-color: initial; border-image: initial; }
.sect-common .col-player { float: left;}
/* .sect-common .cols-player { width: 640px; height: 360px; } */

.sect-common .col-playerinfo { float: right; width: 248px;}
.sect-common .col-playerinfo-preegg .box-contents { padding-top: 0;}
.sect-common .col-playerinfo .box-image { float: left; width: 90px; margin-right: 10px; }
.sect-common .col-playerinfo .box-contents { float: left; width: 148px; margin-bottom: 33px; }

.sect-common .col-playerinfo .box-contents .txt-info { margin-top: 5px; display: block; color: #999999; font-size: 12px;} */
.sect-common .col-playerinfo .box-contents .txt-info > em { display: block; }
.sect-common .col-playerinfo .box-contents .txt-info i { font-style: normal; }
.sect-common .col-playerinfo .box-contents .link-count .link-count_sm { background-color: #ffffff; width: 97px; height: 25px; border: 0 none; line-height: 25px; font-size: 12px;}

.sect-common .col-playerinfo .title { display: block; color: #cccccc; font-size: 13px; zoom: 1;}

.sect-common .col-playerinfo .descri-trailer { clear: both;}
.sect-common .col-playerinfo .descri-trailer textarea { padding: 10px; line-height: 1.7; width: 228px; height: 158px; margin-top: 12px; border: 1px solid #161415; background: #161415; color: #999999 }
.wrap-movie-hd { clear: both; }
.wrap-movie-hd div {clear: both;}

/* .wrap-movie-hd .sect-trailer { height: 300px; } */
.wrap-movie-hd .sect-trailer h3 { margin-bottom: 30px; height: 41px; margin: 30px 0 30px; line-height: 41px; text-align:  center; font-weight: 500; background: url('../Image/bg_h3_line.jpg') repeat-x 0 50%;}
.wrap-movie-hd .sect-trailer > ul { margin: -40px 0 0 -6px;}
.wrap-movie-hd .sect-trailer > ul::after { height:30px; }
.wrap-movie-hd .sect-trailer > ul > li { float: left; width: 240px; margin: 40px 0 -50px 6px;}
.wrap-movie-hd .sect-trailer .box-image .thumb-image img { width: 240px; height: 135px;}
.wrap-movie-hd .sect-trailer .box-image .thumb-image > .ico-play { clear: both; display: inline-block; position: relative; top: -65px; left: 190px; width:44px; height:44px; background: url(../Image/sprite_icon.png) -60px -21px no-repeat; font-size: 0; zoom:0; }
.wrap-movie-hd .sect-trailer .box-contents { clear: both; display: inline-block; position: relative; top: -65px}
.wrap-movie-hd .sect-trailer .ad-hdtrailer { padding: 40px 0 0 0; border-top: 3px solid #241d1e; }
.wrap-movie-hd .sect-trailer .tab-menu { clear: both; text-align: center; width: auto; margin: 0 auto; padding-bottom: 0px; border-bottom:  2px solid #333333;}
.wrap-movie-hd .sect-trailer .tab-menu li { float: none; width: auto; margin:  0 0 0 -4px; display: inline-block;}
.wrap-movie-hd .sect-trailer .tab-menu li:first-child { padding-left: 20px; background: url(../Image/sprite_corner.png) 0 -20px no-repeat;}
.wrap-movie-hd .sect-trailer .tab-menu li:first-child a::before { content: ''; display: inline-block; background: #e71a0f url(../Image/ico_finger.png) 0 50% no-repeat; width: 26px; height: 39px; padding-right: 5px; vertical-align: top;}
.wrap-movie-hd .sect-trailer .tab-menu li a { background:  #e71a0f; display: inline-block; position: relative; height: 39px; padding: 0 15px; color: #ffffff; font-size: 15px; font-weight: 500; text-align: center; line-height: 39px;}
.wrap-movie-hd .sect-trailer .tab-menu .last { padding-right: 19px; height: 39px; background: url(../Image/ribon_right.png) right 0 no-repeat;}

.wrap-movie-hd .sect-trailer .hidden { font-size: 0; visibility: hidden; }
.wrap-movie-hd .sect-trailer .srh-trailer { padding: 10px 0; text-align: right; }
.wrap-movie-hd .sect-trailer .srh-trailer legend { font-size: 0; visibility: hidden; }
.wrap-movie-hd .sect-trailer .srh-trailer select { line-height: 27px; height: 29px; padding: 3px 5px; border: 1px solid #b4b3aa;}
.wrap-movie-hd .sect-trailer .srh-trailer input { display: inline-block; width: 147px; height: 25px; line-height: 22px; padding-left: 10px; border: 1px solid #b5b5b5; text-align: left; font-size: 13px;}
/* 버튼 다시 만들기 - 임시 */
.wrap-movie-hd .sect-trailer .srh-trailer .round.on.red { display: inline-block; position: relative; width: 55px; border: 2px solid #e71a0f; background-color: #e71a0f; color: #ffffff; margin-left: 3px; line-height: 23px; font-weight: 500; font-size: 12px; text-align: center; vertical-align: middle; }
.wrap-movie-hd .sect-trailer .title { margin-top: 13px; font-size: 12px; line-height: 16px; }

.wrap-movie-hd .paging { border-top: 2px solid #1d1b1c; text-align: center; margin-top: 25px; }
.wrap-movie-hd .paging li { margin-top: 25px; display: inline-block; padding: 0 8px; color: #333333; font-size: 14px; font-weight: bold; line-height: 28px;}
.wrap-movie-hd .paging li + a { color: inherit; text-decoration: none; }
.wrap-movie-hd .paging .btn-paging { display: inline-block; min-width: 56px; padding: 0 24px 0 10px; height: 28px; margin: 0 2px; border: 1px solid #cacac1; background-color: #faf9ed; color: #333333; font-size: 11px; font-weight: 500; line-height: 28px; vertical-align: middle;}
.wrap-movie-hd .paging .btn-paging .end { margin: 0 2px 0 2px; min-width: 27px; padding: 0;}
