<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>영화 그 이상의 감동. CGV</title>
  <link rel="stylesheet" href="../../common/css/default.css">
  <link rel="stylesheet" href="../../common/css/swiper.css">
  <link rel="stylesheet" href="../../common/css/style.css">
  <link rel="stylesheet" href="../../common/css/index.css">
  <link rel="stylesheet" href="../../common/css/sub.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" charset="utf-8"></script>
  <script src="../../common/js/common.js" charset="utf-8"></script>
  <script src="../../common/js/swiper.js" charset="utf-8"></script>
  <script src="../../common/js/slide.js" charset="utf-8"></script>
  <script src="../../common/js/script.js" charset="utf-8" defer></script>
  
  <link rel="stylesheet" href="./CSS/style.css">
</head>

<body class="body_idx">
  <nav class="nav_skip">
    <ul>
      <li><a href="#gnb">대메뉴 바로가기</a></li>
      <li><a href="#main">본문 바로가기</a></li>
      <li><a href="#nav_quick">빠른메뉴 바로가기</a></li>
    </ul>
  </nav>
  <!-- header 시작 -->
  <header>
    <div class="wrap_com">
      <div class="wrap_gnb">
        <h1 class="logo_cgv.png">
          <a href="../../index.html">
            <img src="../../common/images/logo_cgv.png" alt="CGV">
          </a>
        </h1>
        <h2 class="hide">대메뉴</h2>
        <nav>
          <ul class="clear">
            <li class="movie">
              <a href=""><span class="hide">영화</span></a>
              <div class="wrap_snb">
                <div>
                  <ul>
                    <li><a href="">무비차트</a></li>
                    <li><a href="">HD 트레일러</a></li>
                    <li><a href="">무비파인더</a></li>
                    <li><a href="">CGV아트하우스</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="booking">
              <a href=""><span class="hide">예매</span></a>
              <div class="wrap_snb">
                <div>
                  <ul>
                    <li><a href="">빠른예매</a></li>
                    <li><a href="">상영시간표</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="theaters">
              <a href=""><span class="hide">극장</span></a>
              <div class="wrap_snb">
                <div>
                  <ul>
                    <li><a href="">CGV 극장</a></li>
                    <li><a href="">특별관</a></li>
                    <li><a href="">CLUB 서비스</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="event">
              <a href=""><span class="hide">이벤트&amp;컬처</span></a>
              <div class="wrap_snb">
                <div>
                  <ul>
                    <li><a href="">이벤트</a></li>
                    <li><a href="">기프트샵</a></li>
                    <li><a href="">매거진</a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </nav>
        <div>
          <div class="ad">
            <a href="">
              <img src="../../common/images/banner_card.png" alt="현대오일뱅크 보너스 카드 혜택!">
            </a>
          </div>
          <div class="search">
            <input type="search">
            <button>검색</button>
          </div>
        </div>
      </div>
      <div class="wrap_util">
        <h2 class="hide">유틸리티 메뉴</h2>
        <ul class="list_util right clear">
          <li class="login"><a href="#"><span class="hide">로그인</span></a></li>
          <li class="join"><a href="#"><span class="hide">회원가입</span></a></li>
          <li class="my"><a href="#"><span class="hide">MY CGV</span></a></li>
          <li class="vip"><a href="#"><span class="hide">VIP LOUNGE</span></a></li>
          <li class="club"><a href="#"><span class="hide">Club서비스</span></a></li>
          <li class="cs"><a href="#"><span class="hide">고객센터</span></a></li>
          <li class="en"><a href="#"><span class="hide">ENGLISH TICKETING</span></a></li>
        </ul>
        <div class="left">
          <h2 class="hide">CGV 소셜 네트워크</h2>
          <ul class="list_sns clear">
            <li class="app"><a href=""><span class="hide">CGV앱 설치</span></a></li>
            <li class="facebook"><a href=""><span class="hide">Facebook 좋아요!</span></a></li>
            <li class="insta"><a href=""><span class="hide">Instagram Follow</span></a></li>
          </ul>
          <a href="" class="frugal"><span class="hide">알뜰한 영화관람법</span></a>
        </div>
      </div>
    </div>
    </div>
  </header>
  <main id="#">
    <!-- <section class="sec_visual"> -->
      <!-- <div class="wrap_com"> -->
      <!--  navigation line -->
      <section class="navigation_li">
        <div id="navigation_line" class="linemap-wrap">
          <div class="sect-linemap">
            <div class="sect-bcrumb">
              <ul>
                <li>
                  <a href="../../index.html"><img src="https://img.cgv.co.kr/R2014/images/common/btn/btn_home.png" alt="home"></a>
                </li>
              </ul>
            </div>
            <div class="sect-special">
              <ul class="clear">
                <li>
                  <a href="#" class="viplounge">VIP LOUNGE</a>
                </li>
                <li>
                  <a href="#" title="새창" class="specialclub">Club서비스</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- </div> -->
      
      <!--  navigation line -->

      <!-- Content Area -->
        <div id="centents">
          <div class="wrap-movie-chart">
            <!-- Heading Map -->
            <div class="tit-heading-wrap">
              <h3>무비차트</h3>
              <div class="submenu">
                <ul>
                  <li class="on">
                    <a href="#" title="선택">무비차트</a>
                  </li>
                  <li>
                    <a href="./pre-movies.html">상영예정작</a>
                  </li>
                  <li>
                    <a href="./movies.html">CGV아트하우스</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- // Heading Map -->
            <!-- sorting -->
              <div class="sect-sorting">
                <div class="nowshow">
                  <input type="checkbox" id="chk_nowshow" title="현재 선택됨" checked=""><label for="chk_nowshow">현재 상영작만 보기</label>
                </div>
                <label for="order_type" class="hidden">정렬</label>
                <select id="order_type" name="order-type">
                  <option title="현재 선택됨" selected="" value="1">예매율순</option>
                  <option value="2">평점순</option>
                  <option value="3">관람객순</option>
                </select>
                <button type="button" class="round gray"><span>GO</span></button>
              </div>
            <!-- // sorting -->
            <!-- //////////////////// -->
            <div class="sect-movie-chart">
              <h4 class="hidden">
                  무비차트 - 예매율순
              </h4>
              <ol>
                  <li>
                      <div class="box-image">
                          <strong class="rank">No.1</strong>	
                          <a href="/movies/detail-view/?midx=82986">
                              <span class="thumb-image">
                                  <img src="./Poster/82986_320.jpg" alt="블랙 위도우 포스터" onerror="errorImage(this)">
                                  <span class="ico-grade grade-12">12세 이상</span>
                              </span>
                              <strong class="no1">1위</strong>
                          </a>
                          <span class="screentype1">
                                  <a class="imax" href="#" title="IMAX 상세정보 바로가기" data-regioncode="07">IMAX</a>
                                  <a class="forDX" href="#" title="4DX 상세정보 바로가기" data-regioncode="4D14">4DX</a>
                                  <a class="screenx" href="#" title="SCREENX 상세정보 바로가기" data-regioncode="SCX">SCREENX</a>
                          </span>
                      </div>
                      
                      <div class="box-contents">
                          <a href="/movies/detail-view/?midx=82986">
                              <strong class="title">블랙 위도우</strong>
                          </a>
  
                          <div class="score">
                              <strong class="percent">예매율<span>81.7%</span></strong>
                              <!-- 2020.05.07 개봉전 프리에그 노출, 개봉후 골든에그지수 노출변경 (적용 범위1~ 3위)-->
                              <div class="egg-gage small">
                                              <span class="egg great"></span>
                                              <span class="percent">96%</span>
                                          </div>
                          </div>
  
                          <span class="txt-info">
                              <strong>
                                  2021.07.07 
                                  <span>개봉</span>
                                  
                              </strong>
                          </span>
                          <span class="like"> 
                              <a class="link-reservation" href="/ticket/?MOVIE_CD=20022180&amp;MOVIE_CD_GROUP=20022180"><p>예매</p></a>
                          </span>
                      </div>    
                  </li>
              
                  <li>
                      <div class="box-image">
                          <strong class="rank">No.2</strong>	
                          <a href="/movies/detail-view/?midx=84643">
                              <span class="thumb-image">
                                  <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000084/84643/84643_320.jpg" alt="크루엘라 포스터" onerror="errorImage(this)">
                                  <span class="ico-grade grade-12">12세 이상</span>
                              </span>
                              
                          </a>
                          <span class="screentype">
                              
                          </span>
                      </div>
                      
                      <div class="box-contents">
                          <a href="/movies/detail-view/?midx=84643">
                              <strong class="title">크루엘라</strong>
                          </a>
  
                          <div class="score">
                              <strong class="percent">예매율<span>2.4%</span></strong>
                              <!-- 2020.05.07 개봉전 프리에그 노출, 개봉후 골든에그지수 노출변경 (적용 범위1~ 3위)-->
                              <div class="egg-gage small">
                                              <span class="egg great"></span>
                                              <span class="percent">98%</span>
                                          </div>
                          </div>
  
                          <span class="txt-info">
                              <strong>
                                  2021.05.26 
                                  <span>개봉</span>
                                  
                              </strong>
                          </span>
                          <span class="like"> 
                              <a class="link-reservation" href="/ticket/?MOVIE_CD=20026808&amp;MOVIE_CD_GROUP=20026808"><p>예매</p></a>
                          </span>
                      </div>    
                  </li>
              
                  <li>
                      <div class="box-image">
                          <strong class="rank">No.3</strong>	
                          <a href="/movies/detail-view/?midx=84686">
                              <span class="thumb-image">
                                  <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000084/84686/84686_320.jpg" alt="발신제한 포스터" onerror="errorImage(this)">
                                  <span class="ico-grade grade-15">15세 이상</span>
                              </span>
                              
                          </a>
                          <span class="screentype">
                              
                          </span>
                      </div>
                      
                      <div class="box-contents">
                          <a href="/movies/detail-view/?midx=84686">
                              <strong class="title">발신제한</strong>
                          </a>
  
                          <div class="score">
                              <strong class="percent">예매율<span>1.3%</span></strong>
                              <!-- 2020.05.07 개봉전 프리에그 노출, 개봉후 골든에그지수 노출변경 (적용 범위1~ 3위)-->
                              <div class="egg-gage small">
                                              <span class="egg great"></span>
                                              <span class="percent">88%</span>
                                          </div>
                          </div>
  
                          <span class="txt-info">
                              <strong>
                                  2021.06.23 
                                  <span>개봉</span>
                                  
                              </strong>
                          </span>
                          <span class="like"> 
                              <a class="link-reservation" href="/ticket/?MOVIE_CD=20026922&amp;MOVIE_CD_GROUP=20026922"><p>예매</p></a>
                          </span>
                      </div>    
                  </li>
              
              </ol>
  
              <ol>
              
                  <li>
                      <div class="box-image">
                          <strong class="rank">No.4</strong>	
                          <a href="/movies/detail-view/?midx=84727">
                              <span class="thumb-image">
                                  <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000084/84727/84727_320.jpg" alt="괴기맨숀 포스터" onerror="errorImage(this)">
                                  <span class="ico-grade grade-15">15세 이상</span>
                              </span>
                          </a>
                          <span class="screentype">
                              
                          </span>
                      </div>
                      
                      <div class="box-contents">
                          <a href="/movies/detail-view/?midx=84727">
                              <strong class="title">괴기맨숀</strong>
                          </a>
  
                          <div class="score">
                              <strong class="percent">예매율<span>0.7%</span></strong>
                              <!-- 2020.05.07 개봉전 프리에그 노출, 개봉후 골든에그지수 노출변경 (적용 범위4~ 7위)-->
                              <div class="egg-gage small">
                                              <span class="egg good"></span>
                                              <span class="percent">83%</span>
                                          </div>
                          </div>
  
                          <span class="txt-info">
                              <strong>
                                  2021.06.30 
                                  <span>개봉</span>
                                  
                              </strong>
                          </span>
                          <span class="like"> 
                              <a class="link-reservation" href="/ticket/?MOVIE_CD=20027037&amp;MOVIE_CD_GROUP=20027037"><p>예매</p></a>
                          </span>
                      </div>    
                  </li>
              
                  <li>
                      <div class="box-image">
                          <strong class="rank">No.5</strong>	
                          <a href="/movies/detail-view/?midx=84644">
                              <span class="thumb-image">
                                  <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000084/84644/84644_320.jpg" alt="루카 포스터" onerror="errorImage(this)">
                                  <span class="ico-grade grade-all">전체</span>
                              </span>
                          </a>
                          <span class="screentype">
                              
                          </span>
                      </div>
                      
                      <div class="box-contents">
                          <a href="/movies/detail-view/?midx=84644">
                              <strong class="title">루카</strong>
                          </a>
  
                          <div class="score">
                              <strong class="percent">예매율<span>0.6%</span></strong>
                              <!-- 2020.05.07 개봉전 프리에그 노출, 개봉후 골든에그지수 노출변경 (적용 범위4~ 7위)-->
                              <div class="egg-gage small">
                                              <span class="egg great"></span>
                                              <span class="percent">97%</span>
                                          </div>
                          </div>
  
                          <span class="txt-info">
                              <strong>
                                  2021.06.17 
                                  <span>개봉</span>
                                  
                              </strong>
                          </span>
                          <span class="like"> 
                              <a class="link-reservation" href="/ticket/?MOVIE_CD=20026810&amp;MOVIE_CD_GROUP=20026810"><p>예매</p></a>
                          </span>
                      </div>    
                  </li>
              
                  <li>
                      <div class="box-image">
                          <strong class="rank">No.6</strong>	
                          <a href="/movies/detail-view/?midx=83078">
                              <span class="thumb-image">
                                  <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000083/83078/83078_320.jpg" alt="콰이어트 플레이스 2 포스터" onerror="errorImage(this)">
                                  <span class="ico-grade grade-15">15세 이상</span>
                              </span>
                          </a>
                          <span class="screentype">
                              
                          </span>
                      </div>
                      
                      <div class="box-contents">
                          <a href="/movies/detail-view/?midx=83078">
                              <strong class="title">콰이어트 플레이스 2</strong>
                          </a>
  
                          <div class="score">
                              <strong class="percent">예매율<span>0.6%</span></strong>
                              <!-- 2020.05.07 개봉전 프리에그 노출, 개봉후 골든에그지수 노출변경 (적용 범위4~ 7위)-->
                              <div class="egg-gage small">
                                              <span class="egg great"></span>
                                              <span class="percent">95%</span>
                                          </div>
                          </div>
  
                          <span class="txt-info">
                              <strong>
                                  2021.06.16 
                                  <span>개봉</span>
                                  
                              </strong>
                          </span>
                          <span class="like"> 
                              <a class="link-reservation" href="/ticket/?MOVIE_CD=20022487&amp;MOVIE_CD_GROUP=20022487"><p>예매</p></a>
                          </span>
                      </div>    
                  </li>
              
                  <li>
                      <div class="box-image">
                          <strong class="rank">No.7</strong>	
                          <a href="/movies/detail-view/?midx=84647">
                              <span class="thumb-image">
                                  <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000084/84647/84647_320.jpg" alt="킬러의 보디가드2 포스터" onerror="errorImage(this)">
                                  <span class="ico-grade grade-19">청소년 관람불가</span>
                              </span>
                          </a>
                          <span class="screentype">
                              
                          </span>
                      </div>
                      
                      <div class="box-contents">
                          <a href="/movies/detail-view/?midx=84647">
                              <strong class="title">킬러의 보디가드2</strong>
                          </a>
  
                          <div class="score">
                              <strong class="percent">예매율<span>0.2%</span></strong>
                              <!-- 2020.05.07 개봉전 프리에그 노출, 개봉후 골든에그지수 노출변경 (적용 범위4~ 7위)-->
                              <div class="egg-gage small">
                                              <span class="egg great"></span>
                                              <span class="percent">87%</span>
                                          </div>
                          </div>
  
                          <span class="txt-info">
                              <strong>
                                  2021.06.23 
                                  <span>개봉</span>
                                  
                              </strong>
                          </span>
                          <span class="like"> 
                              <a class="link-reservation" href="/ticket/?MOVIE_CD=20026813&amp;MOVIE_CD_GROUP=20026813"><p>예매</p></a>
                          </span>
                      </div>    
                  </li>
              
              </ol>
              
              <button class="btn-more-fontbold">더보기 <i class="link-more">더보기</i></button>
              
  
              <ol id="movie_more_container" style="display:none" class="list-more">
                  <li></li>
              </ol>
              <!-- 광고 AD -->
              <div class="chart-ad">
                  <div class="box-com">                    
                      <iframe src="http://ad.cgv.co.kr/NetInsight/html/CGV/CGV_201401/sub@Movie_Chart" width="160" height="300" frameborder="0" scrolling="no" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" id="Movie_Chart" name="Movie_Chart" title="기업광고 -NICE지키미"></iframe>
                  </div>                
                  <div class="chart_ad_desc">
                      <dl>
                          <dt>
                              <img src="http://img.cgv.co.kr/R2014/images/ad/ico_ad1.png" alt="ad">
                              <span id="ad_txt1">NICE지키미</span>
                          </dt>
                          <dd>
                              <span id="ad_txt2">재테크의 시작은 신용관리!</span>
                          </dd>
                      </dl>
                  </div>
              </div>
              
          </div>
          <!-- ///////////////// -->
          </div>
          <!-- .sect-moviechart -->
          
            <!-- 광고 배너 -->
            <div class="chart-ad-bottom">
              <iframe src="http://ad.cgv.co.kr/NetInsight/html/CGV/CGV_201401/sub@SponsorBar_980" width="980" height="90" title="" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" name="SponsorBar_980" id="SponsorBar_980"></iframe>
            </div>
             <!-- // 광고 배너 -->
          <div class="cols-rank">
            <div class="col-rank-trailer">
                <h3>인기 트레일러</h3>
                <div class="sect-popular-trailer">
                    <div id="ctl00_PlaceHolderContent_ucListFooter_wrap_info_trailer" class="wrap-info-trailer">
                        <!-- 트레일러 이미지 -->
                        <div class="box-image trailer">
                            <a href="#" title="새창" class="movie_player_popup" data-gallery-idx="174953">
                                <span class="thumb-image">
                                    <img src="https://img.cgv.co.kr/Movie/Thumbnail/Trailer/82175/82175174953_1024.jpg" alt="[캣츠]No.1 퍼포먼스 영상">
                                    <span class="ico-play">영상보기</span>
                                </span>
                            </a>
                        </div>
                        <div class="box-image">
                            <a href="/movies/detail-view/?midx=82175">
                                <span class="thumb-image">
                                    <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000082/82175/82175_185.jpg" alt="[캣츠]No.1 퍼포먼스 영상">
                                    <span class="ico-grade grade-12">12세 이상</span>
                                </span>
                            </a>
                        </div>
                        <div class="box-contents">
                            <a href="/movies/detail-view/?midx=82175">
                                <strong class="title">캣츠</strong>
                            </a>
                            <span class="txt-info">
                                <em class="genre">뮤지컬,&nbsp;드라마</em>
                                <span>
                                    <i>2019.12.24</i>
                                    <strong>개봉</strong>
                                </span>
                            </span>
                            <span class="screentype">
                            </span>
                        </div>
                    </div>
                    <ul>             
                        <li>
                            <div class="box-image">
                                <a href="#" title="새창" class="movie_player_popup" data-gallery-idx="175009">
                                    <span class="thumb-image">
                                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Trailer/82866/82866175009_1024.jpg" alt="[카운트다운]장르파괴 영상" style="width:126px;height:71px;">
                                        <span class="ico-play">영상보기</span>
                                    </span>
                                </a>
                            </div>
                            <div class="box-contents">
                                <a href="#" title="새창" class="movie_player_popup" data-gallery-idx="175009">
                                    <strong class="title">카운트다운</strong>
                                </a>
                                <span class="txt-info">
                                <em class="genre">호러,&nbsp;스릴러</em>
                                <span>
                                    <i>2019.12.12</i>
                                    <strong>개봉</strong>
                                    
                                </span>
                            </span>
                            </div>
                        </li>
                    
                        <li>
                            <div class="box-image">
                                <a href="#" title="새창" class="movie_player_popup" data-gallery-idx="175008">
                                    <span class="thumb-image">
                                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Trailer/82962/82962175008_1024.jpg" alt="[영화로운 나날]30초 예고편" style="width:126px;height:71px;">
                                        <span class="ico-play">영상보기</span>
                                    </span>
                                </a>
                            </div>
                            <div class="box-contents">
                                <a href="#" title="새창" class="movie_player_popup" data-gallery-idx="175008">
                                    <strong class="title">영화로운 나날</strong>
                                </a>
                                <span class="txt-info">
                                <em class="genre">로맨스,&nbsp;환타지,&nbsp;드라마,&nbsp;멜로</em>
                                <span>
                                    <i>2019.12.12</i>
                                    <strong>개봉</strong>
                                    
                                </span>
                            </span>
                            </div>
                        </li>
                    
                        <li>
                            <div class="box-image">
                                <a href="#" title="새창" class="movie_player_popup" data-gallery-idx="174984">
                                    <span class="thumb-image">
                                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Trailer/82640/82640174984_1024.jpg" alt="[러브 앳]홍쓴 부부 GV 현장 메이킹 영상" style="width:126px;height:71px;">
                                        <span class="ico-play">영상보기</span>
                                    </span>
                                </a>
                            </div>
                            <div class="box-contents">
                                <a href="#" title="새창" class="movie_player_popup" data-gallery-idx="174984">
                                    <strong class="title">러브 앳</strong>
                                </a>
                                <span class="txt-info">
                                <em class="genre">로맨스,&nbsp;코미디,&nbsp;멜로</em>
                                <span>
                                    <i>2019.11.27</i>
                                    <strong>개봉</strong>

                                </span>
                            </span>
                            </div>
                        </li>
                        <li>
                            <div class="box-image">
                                <a href="#" title="새창" class="movie_player_popup" data-gallery-idx="174983">
                                    <span class="thumb-image">
                                        <img src="https://img.cgv.co.kr/Movie/Thumbnail/Trailer/82961/82961174983_1024.jpg" alt="[월성]메인 예고편" style="width:126px;height:71px;">
                                        <span class="ico-play">영상보기</span>
                                    </span>
                                </a>
                            </div>
                            <div class="box-contents">
                                <a href="#" title="새창" class="movie_player_popup" data-gallery-idx="174983">
                                    <strong class="title">월성</strong>
                                </a>
                                <span class="txt-info">
                                <em class="genre">다큐멘터리</em>
                                <span>
                                    <i>2019.12.12</i>
                                    <strong>개봉</strong>
                                    
                                </span>
                            </span>
                            </div>
                        </li>
                    
                    </ul>
                </div><!-- .sect-popular-trailer -->
            </div><!-- .col-rank-trailer -->
            <div class="col-rank-search">
                <div class="searchrank">
                    <h3>실시간 인기 검색어</h3>
                    <ol>
                    
                        <li>
                            <a href="/search/?query=%eb%b6%80%ed%99%9c">1. <strong>부활</strong></a>
                            <em>
                                
                                <span class="new">NEW</span>
                            </em>
                        </li>
                    
                        <li>
                            <a href="/search/?query=%ea%b0%95%ec%b2%a0%eb%b9%842+%ec%a0%95%ec%83%81%ed%9a%8c%eb%8b%b4">2. <strong>강철비2 정상회담</strong></a>
                            <em>
                                
                                <span class="new">NEW</span>
                            </em>
                        </li>
                    
                        <li>
                            <a href="/search/?query=%eb%b0%98%eb%8f%84">3. <strong>반도</strong></a>
                            <em>
                                
                                <span class="new">NEW</span>
                            </em>
                        </li>
                    
                        <li>
                            <a href="/search/?query=%ec%82%b4%ec%95%84%ec%9e%88%eb%8b%a4">4. <strong>살아있다</strong></a>
                            <em>
                                
                                <span class="new">NEW</span>
                            </em>
                        </li>
                    
                        <li>
                            <a href="/search/?query=%ec%bd%94%eb%82%9c">5. <strong>코난</strong></a>
                            <em>
                                3
                                <span class="up">상승</span>
                            </em>
                        </li>
                    
                        <li>
                            <a href="/search/?query=%ec%95%8c%eb%9d%bc%eb%94%98">6. <strong>알라딘</strong></a>
                            <em>
                                1
                                <span class="down">하락</span>
                            </em>
                        </li>
                    
                        <li>
                            <a href="/search/?query=%ed%8c%ac%eb%8d%b0%eb%af%b9">7. <strong>팬데믹</strong></a>
                            <em>
                                
                                <span class="new">NEW</span>
                            </em>
                        </li>
                    
                        <li>
                            <a href="/search/?query=%ed%95%b4%eb%a6%ac%ed%8f%ac%ed%84%b0">8. <strong>해리포터</strong></a>
                            <em>
                                2
                                <span class="down">하락</span>
                            </em>
                        </li>
                    
                        <li>
                            <a href="/search/?query=%eb%b1%85%eb%93%9c%eb%a6%bc">9. <strong>뱅드림</strong></a>
                            <em>
                                
                                <span class="new">NEW</span>
                            </em>
                        </li>
                    
                        <li>
                            <a href="/search/?query=%eb%aa%85%ed%83%90%ec%a0%95%ec%bd%94%eb%82%9c">10. <strong>명탐정코난</strong></a>
                            <em>
                                302
                                <span class="up">상승</span>
                            </em>
                        </li>
                    
                    </ol>
                    <p class="date">2020.07.26기준</p>
                </div>
            </div>
        </div>
        <script id="temp_movie" type="text/x-jquery-tmpl">
          <li>
              <div class="box-image" >
                  <a href="/movies/detail-view/?midx=${MovieIdx}">
                      <span class="thumb-image">
                          <img src="${PosterImage.LargeImage}" alt="${Title}" onerror="errorImage(this)"/>
                          <span class="ico-grade ${MovieGrade.StyleClassName}">${MovieGrade.GradeText}</span>
                      </span>
                  </a>
                  <span class="screentype">
                      {{each MovieKindList}}
                      <a class="${StyleClassName}" href="#" data-regioncode="${RegionCode}">${KindName}</a>
                      {{/each}}
                  </span>
              </div>
                          
              <div class="box-contents">
                  <a href="/movies/detail-view/?midx=${MovieIdx}">
                      <strong class="title">${Title}</strong>
                  </a>
      
                  <div class="score">
                      <strong class="percent">예매율<span>${TicketRate}%</span></strong>
                      <!--2020.05.07 개봉일 12시 30분전 프리에그, 개봉일 12시 30분후 골든에그지수 노출 기준변경-->
                      <div class="egg-gage small">
                          <span class="${StarPoint}"></span>
                          <span class="percent">${EggPoint}</span>
                      </div>
                  </div>
      
                  <span class="txt-info">
                      <strong>
                          ${OpenDate}
                          <span>${OpenText}</span>
                          {{if D_Day > 0}}
                              <em class="dday">D-${D_Day}</em>
                          {{/if}}
                      </strong>
                  </span>
                  <span class="like"> 
                      {{if (IsTicketing)}}<a class="link-reservation" href="http://www.cgv.co.kr/ticket/?MOVIE_CD=${CGVCode}&MOVIE_CD_GROUP=${MovieGroupCode}">예매</a>{{/if}}
                  </span>
              </div>    
          </li>
      </script>
        <script type="text/javascript">
          //<![CDATA[
          
              (function ($) {
                  $(function () {
          
                      $(".btn-more-fontbold").click(function () {
                          $(this).remove();
                          app.movie().getList({ listType: '1', orderType: '1', filterType: '1' }, setMovieListBuild);
                      });
          
                      function setMovieListBuild(result) {
          
                          $("#movie_more_container").empty();
                          $("#movie_more_container").show();
          
                          for (var i = 0; i < result.List.length; i++) {
                              var str = result.List[i].JointCount;
                              result.List[i].JointCount = str.split(",").join("");
                          }
          
                          $("#temp_movie").tmpl(result.List).appendTo("#movie_more_container");
          
                          //$('.point').point();        //평점 별 표시
                          $('.btn-like').like();      //wish list동작 처리
                          $('span.screentype a').specialTheater();    //특별관 링크
                      }
                  });
              })(jQuery);
          //]]>
          </script>
        </div>
      <!-- // Content Area -->
     </div>
        <!-- 
        <
          <div class="slide swiper-container">
          <div class="nav_controls">
            <button class="btn_play"><span class="hide">슬라이드 자동 넘기기 시작</span></button>
            <button class="btn_next"><span class="hide">다음슬라이드</span></button>
            <button class="btn_prev"><span class="hide">이전슬라이드</span></button>
          </div>
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <a href="">
                <img src="../../common/images/img_visual1.jpg" alt="">
                <p class="txt_visual">
                  <strong>000님!</strong><br>
                  혹시 지금 선물 고민중?<br>
                  누구나 기뻐할 선물이 여기 있어요!
                </p>
              </a>
            </li>
            <li class="swiper-slide">
              <a href="">
                <img src="../../common/images/img_visual2.jpg" alt="">
              </a>
            </li>
            <li class="swiper-slide">
              <a href="">
                <img src="../../common/images/img_visual3.jpg" alt="">
              </a>
            </li>
            <li class="swiper-slide">
              <a href="">
                <img src="../../common/images/img_visual4.jpg" alt="">
              </a>
            </li>
            <li class="swiper-slide">
              <a href="">
                <img src="../../common/images/img_visual5.jpg" alt="">
              </a>
            </li>
          </ul>
         <div class="paging"></div>
        </div> 
      </div>-->
    <!-- </section> -->
    <div class="wrap_com">
      <!-- <section class="sec_movie">
        <h2 class="h_type1 bg_line">
          <span class="hide">movie selection</span>
          <img src="../../common/images/txt_movie_selection.gif" alt="">
        </h2>
        <div class="clear">
          <div class="left">
            <iframe src="https://ad.cgv.co.kr/NetInsight/html/CGV/CGV_201401/main@Selection_L" width="733" height="388" title="" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" name="Movie_Selection_L" id="Movie_Selection_L"
              allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
          </div>
          <div class="right">
            <a href="">
              <img src="../../common/images/img_poster1.jpg" alt="광고 - 이스케이프룸2 노 웨이 아웃 7월 대개봉">
            </a>
          </div>
        </div>
      </section> -->
      <!-- <section class="sec_event">
        <h2 class="h_type1 bg_line">
          <span class="hide">event</span>
          <img src="../../common/images/txt_event.gif" alt="">
        </h2>
        <nav class="tab_type1">
          <ul class="clear">
            <li><a href="">CGV스페셜</a></li>
            <li><a href="">영화/예매</a></li>
            <li><a href="">CGV아트하우스</a></li>
            <li><a href="">제휴/할인</a></li>
            <li><a href="">멤버십</a></li>
          </ul>
        </nav>
        <div class="">
          <ul class="list_type1 clear">
            <li>
              <a href="">
                <img src="../../common/images/img_event1.jpg" alt="">
              </a>
            </li>
            <li>
              <a href="">
                <img src="../../common/images/img_event2.jpg" alt="">
              </a>
            </li>
            <li>
              <a href="">
                <img src="../../common/images/img_event3.jpg" alt="">
              </a>
            </li>
          </ul>
        </div>
        <div class="bx_type1">
          <div class="bx_outer">
            <div class="bx_inner">
              <a href="">
                <img src="../../common/images/img_ad1.jpg" alt="NH채움카드 프로모션">
              </a>
            </div>
          </div>
          <div class="bx_outer">
            <div class="bx_inner">
              <a href="">
                <img src="../../common/images/img_ad2.jpg" alt="NH채움카드 프로모션">
              </a>
            </div>
          </div>
          <div class="bx_outer">
            <div class="bx_inner">
              <a href="">
                <img src="../../common/images/img_ad3.png" alt="NH채움카드 프로모션">
              </a>
            </div>
          </div>
        </div>
      </section> -->
      <!-- <section class="sec_news">
        <div>
          <h2>공지사항</h2>
          <ul class="list_news">
            <li>
              <a href="">
                <p class="title"><span class="category">[기타]</span>포토플레이 서비스 개선 안내 </p>
                <span class="date">2021.12.04</span>
              </a>
            </li>
            <li>
              <a href="">
                <p class="title"><span class="category">[기타]</span>포토플레이 서비스 개선 안내</p>
                <span class="date">2021.12.04</span>
              </a>
            </li>
          </ul>
        </div>
      </section> -->
    </div>
    <div class="banner_hori">
      <a href="">
        <div class="wrap_com">
          <img src="../../common/images/banner_hori.png" alt="">
        </div>
      </a>
    </div>
  </main>
  <footer>
    <section class="sec_special">
      <div class="wrap_com">
        <h2 class="hide">특별관 리스트</h2>
        <ul class="">
          <li class="dx"><a href=""><span class="hide">4DX</span></a></li>
          <li class="imax"><a href=""><span class="hide">IMAX</span></a></li>
          <li class="screenx"><a href=""><span class="hide">SCREENX</span></a></li>
          <li class="spherex"><a href=""><span class="hide">SphereX</span></a></li>
          <li class="gold"><a href=""><span class="hide">GOLDCLASS</span></a></li>
          <li class="cine"><a href=""><span class="hide">CINE de CHEF</span></a></li>
          <li class="cinema"><a href=""><span class="hide">THE PRIVATE CINEMA</span></a></li>
          <li class="kids"><a href=""><span class="hide">Cine kids</span></a></li>
          <li class="cinenforet"><a href=""><span class="hide">CINE&amp;FORET</span></a></li>
        </ul>
      </div>
    </section>
    <section class="sec_info wrap_com">
      <h2 class="hide">CJ CGV 회사소개 및 정책</h2>
      <ul class="list1 clear">
        <li><a href="" target="_blank">회사소개</a></li>
        <li><a href="" target="_blank">IR</a></li>
        <li><a href="" target="_blank">채용정보</a></li>
        <li><a href="" target="_blank">광고/프로모션문의</a></li>
        <li><a href="" target="_blank">제휴문의</a></li>
        <li><a href="" target="_blank">출점문의</a></li>
        <li><a href="">이용약관</a></li>
        <li><a href="">편성기준</a></li>
        <li><a href="" class="color_org">개인정보처리방침</a></li>
        <li><a href="">법적고지</a></li>
        <li><a href="">이메일주소무단수집거부</a></li>
        <li><a href="" target="_blank">윤리경영</a></li>
        <li><a href="" class="color_org">사이버감사실</a></li>
        <li><a href="">사이트맵</a></li>
      </ul>
      <div class="btm">
        <ul class="list2 clear">
          <li class="">(04377)서울특별시 용산구 한강대로 23길 55, 아이파크몰 6층(한강로동)</li>
          <li class="clear"><span>대표이사 : </span>허민회</li>
          <li><span>사업자등록번호 : </span>104-81-45690</li>
          <li><span>통신판매업신고번호 : </span>2017-서울용산-0662<a href="#" class="link_ftc">사업자정보확인</a></li>
          <li class="clear"><span>호스팅사업자 : </span>CJ올리브네트웍스</li>
          <li><span>개인정보보호 책임자 : </span>심준범</li>
          <li><span>대표이메일 : </span>cjcgvmaster@cj.net</li>
          <li><span>CGV고객센터 : </span>1544-1122</li>
          <li class="copy">&copy;CJ CGV. All Rights Reserved</li>
        </ul>
        <div class="bx_float clear">
          <ul class="list_share clear">
            <li>
              <a href="https://www.facebook.com/CJCGV" target="_blank" class="facebook" style="background-position:-509px -429px"><span class="hide">페이스북</span></a>
            </li>
            <li>
              <a href="https://twitter.com/cj_cgv" target="_blank" class="twitter" style="background-position:-551px -429px"><span class="hide">트위터</span></a>
            </li>
            <li>
              <a href="https://www.instagram.com/cgv_korea/" target="_blank" class="instagram" style="background-position:-593px -429px"><span class="hide">인스타그램</span></a>
            </li>
          </ul>
          <div class="sel_family">
            <select class="" name="">
              <option>계열사 바로가기</option>
              <optgroup label="CJ그룹">
                <option value="http://www.cj.net/">CJ주식회사</option>
              </optgroup>
              <optgroup label="식품 &amp; 식품서비스">
                <option value="https://www.cj.co.kr/kr/index">CJ제일제당</option>
                <option value="https://www.cjfoodville.co.kr/main.asp">CJ푸드빌</option>
                <option value="http://www.cjfreshway.com/index.jsp">CJ프레시웨이</option>
              </optgroup>
              <optgroup label="생명공학">
                <option value="https://www.cj.co.kr/kr/about/business/bio">CJ제일제당 BIO사업부문</option>
                <option value="https://www.cj.co.kr/kr/about/business/bio">CJ Feed&amp;Card</option>
              </optgroup>
              <optgroup label="물류 &amp; 신유통">
                <option value="https://www.cjlogistics.com/ko/main">CJ대한통운</option>
                <option value="http://www.cjenc.co.kr/kr/Default.asp">CJ대한통운 건설부문</option>
                <option value="https://www.oliveyoung.co.kr/store/company/brandStory.do">CJ올리브영</option>
                <option value="https://www.cjolivenetworks.co.kr:449/">CJ올리브네트웍스</option>
                <option value="https://www.cjoshopping.com:9002/index.asp">CJ ENM 커머스부문</option>
              </optgroup>
              <optgroup label="엔터테인먼트 &amp; 미디어">
                <option value="https://www.cjem.net:433/main/?locale=ko">CJ ENM 엔터테인먼트부문</option>
                <option value="http://corp.cgv.co.kr/company/ir/manage/manage_list.aspx ">CJ CGV</option>
                <option value="http://www.cjpowercast.com/">CJ파워캐스트</option>
              </optgroup>
            </select>
            <button>GO</button>
          </div>
        </div>
      </div>
    </section>
  </footer>
  <div class="nav_quick" id="nav_quick">
    <h2 class="hide">빠른 메뉴</h2>
    <ul>
      <li class="theater">
        <a href="">
          <img src="../../common/images/btn_theater.gif" alt="CGV극장">
        </a>
      </li>
      <li class="artHouse">
        <a href="">
          <img src="../../common/images/btn_artHouse.gif" alt="CGV아트하우스">
        </a>
      </li>
      <li class="special">
        <a href="">
          <img src="../../common/images/btn_special.gif" alt="CGV특별관">
        </a>
      </li>
      <li class="myTicket">
        <a href="">
          <img src="../../common/images/btn_myTicket.gif" alt="CGV예매내역">
        </a>
      </li>
      <li class="dcInfo">
        <a href="">
          <img src="../../common/images/btn_dcInfo.gif" alt="CGV할인정보">
        </a>
      </li>
    </ul>
    <button class="btn_top" id="btn_top" onclick="scrollToTop()">
      <span class="hide">
        최상단으로 이동
      </span>
    </button>
  </div>
</body>

</html>
