.event_title {
    font-size: 36px;
}

.event_navbar {
    border-top: 3px solid black;
    border-bottom: 1px solid black;
    position: relative;
}

.event_tab_menu li {
    display: inline-block;
    padding: 10px 0;
    margin-right: 80px;
}

.submenu {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 0;
}

.submenu > a {
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.event_item_list img {
    width: 250px;
}


.event_cf {
    display: flex;
    flex-wrap: wrap;
}

.event_cf li {
    margin-right: 20px;
    width: 28%;
    padding: 10px;
}

.evt-desc {
    background-color: white;
    height: 90px;
    border: 1px solid rgb(224, 221, 221);
    width: 250px;
}

.txt1 {
    padding: 10px;
    height: 35px;
}

.txt2 {
    color: rgb(139, 139, 139);
    font-size: 14px;
    padding: 0 10px;
}

.col-aside {
    float: right;
    width: 160px;
    padding: 9px;
}

.col-aside img {
    width: 170px;
}

.aside-content1 {
    margin-bottom: 10px;
}

.aside-content2 {
    margin-bottom: 10px;
}


