

/* 공통 */
.event_title {
    font-size: 36px;
}

/* */
.event_navbar {
    border-top: 3px solid black;
    border-bottom: 1px solid black;
    position: relative;
}

.event_tab_menu li {
    display: inline-block;
    padding: 10px 0;
    margin-right: 80px;
}

.submenu {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 0;
}

.submenu > a {
    background-color: #e71a0f;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.event_item_list img {
    width: 250px;
}


.event_cf {
    display: flex;
    flex-wrap: wrap;
}

.event_cf li {
    margin-right: 20px;
    width: 28%;
    padding: 10px;
}


.evt-desc {
    background-color: white;
    height: 90px;
    border: 1px solid rgb(224, 221, 221);
    width: 248px;
}

.txt1 {
    padding: 10px;
    height: 35px;
}

.txt2 {
    color: rgb(139, 139, 139);
    font-size: 14px;
    padding: 0 10px;
}


/* aside */

.col-aside {
    float: right;
    width: 160px;
    padding: 9px;
}

.col-aside img {
    width: 170px;
}

.aside-content1 {
    margin-bottom: 10px;
}

.aside-content2 {
    margin-bottom: 10px;
}


/* CgvTheater(영화/예매) 부분 */

select {
    box-sizing: border-box;
    text-rendering: auto;
    letter-spacing: normal;
    height: 27px;
    padding: 0 5px;
    border: 1px solid #b4b3aa;
    color: #666666;
    background-color: #ffffff;

}

.local_search {
    background-color: #e71a0f;
    padding: 5.5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    width: 65px;
}

.local_search > a { 
    color: #ffffff;; 
}

.evt-select-area { 
    text-align: center;
    padding: 10px;
}


/* 밑 부분 여백 */
.blank {
    height: 150px;
}

/* 더보기 관련 */
.more { display: none; }
.more_btn { 
    background-color: #f1f0e6;
    width: 100%;
    padding: 18px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    color:#666;
}

/* giftshop 메뉴*/
.gift_store { background-color: #fff; }

.bx_wrapper {
    padding-bottom: 30px;
}

.category_wrap {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

.category_contents_wrap {
    width: 980px; margin: 0 auto; box-sizing: border-box;
    height: 50px;
}

.category_content { 
    display: flex;
    float: left;
    width: 980px; margin: 0 auto; box-sizing: border-box;
    padding-left: 10px;
    position: relative;
}

.category_content li {
    margin-right: 20px;
    padding: 15px 0;
}

.category_content li > a {
    color: #6a6f77;
    padding: 6px;
    font-weight: bold;
}

.stick {
    width: 1px;
    height: 25px;
    background-color: #ccc;
    display: inline-block;
    position: absolute;
    right: 225px;
    top: 14px;
}

.cart_content {
    color: #6a6f77;
    float: right;
    right: 0px;
    top: 15px;
    font-weight: bold;
    position: absolute;
}

.red_round {
    background-color: #e71a0f;
    display: inline-block;
    width: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-left: 5px;
}

.category_product_wrap {
    width: 980px; margin: 0 auto; box-sizing: border-box;
    position: relative;
}



.category_product_title {
    font-size: 30px;
    padding-top: 70px;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
}

.category_product_containor {
    position: absolute;
    right: 10px;
    top: 80px;
}

.btn_category_product img {
    float: right;
    width: 24px;
}

.category_product_list {
    width: 980px; margin: 0 auto; box-sizing: border-box;
}

.category_product_list li {
    width: 49%;
    display: inline-block;
}

.category_product_list li:first-child {
    width: 100%;
}
.category_product_list > li:first-child .category_product_inner_list li {
    width: 220px !important;
}
.category_product_inner_list li .btn_category_product .best_product_img_wrap {
    width: 160px;
    display: block;
}

.category_product_inner_list li .btn_category_product .best_product_img_wrap.big {
    width: 220px;
}

.category_product_list > li:first-child .category_product_inner_list li .btn_category_product .best_product_text_wrap {
    position: static;
    width: 100%;
    height: auto;
    padding-left: 0;
    transform: none;
}

.best_product_text_wrap {
    position: absolute;
    left: 165px;
    top: 50%;
    transform: translate(0, -50%);
}


.category_product_inner_list li{
    position: relative;
}

.category_product_inner_list li {
    display: inline-block;
    width: 100%;
    margin-right: 20px;
}

.best_product_img_wrap > img {
    width: 100%;
}

.best_product_text_name {
    color: #6a6f77;
    font-weight: 400;
    font-size: 16px;
}

.best_product_price {
    margin-top: 20px;
    padding-left: 5px;
    display: block;
    font-size: 18px;
    color: #000;
}



.inline-block {
    display: inline-block !important;
}

.product_img {
    width: 160px !important;
}