#nav_line {
    border-bottom: 1px solid #cacac0;
    height: 30px;
    background-color: #f1f0e5;
    position: relative;


}
#nav_content {
    width: 1000px;
    /* border : 1px solid red; */
    height : 30px;
    position :absolute;
    left : 50%;
    transform: translate(-50%,-5%);

}
#nav_content > ul {
    box-sizing: border-box;
    margin-left: 20px;
    width: 300px;
    /* border : 1px solid red; */

}
#nav_content > ul > li {
    display: inline-block;
    font-size: 14px;
    height: 20px;
    /* border : 1px solid red; */
    vertical-align: middle;
}

#nav_content > #nav_btn > li:nth-child(n+2){
    padding-top: 4px;
}


#nav_content > #nav_btn > li:not(:last-child):after{
    content : '>';
    margin : 10px;
}

#nav_btn {
    float : left;
}

#nav_btn2 {
    float : right;
    text-align: center;
    /* border: 1px solid #cacac0; */
    box-sizing: border-box;
}

#nav_btn2 > div {
    float : right;
    width: 150px;
    border: 1px solid #cacac0;
    border-top: none;
    border-bottom: none;


}
#nav_btn2 > div:first-child{
    border-left: none;
}
#nav_btn2 > div:first-child > p::after{
    content : url("../image/ico_club_service.png");
    vertical-align: middle;
    /* float : right; */
}


#nav_btn2 * {
    display: block;
    line-height: 30px;
}


/* 220208 seats.html(좌석선택) 스타일 추가 */
.flex { display: flex}
.bg_black { height: 33px; line-height: 33px; text-align: center; background-color: #333333; color: #fff; }
.sec_seat { border: 2px solid #d4d3c9; background: #f2f0e5}
.sec_seat .wrap_info { padding: 10px 0 0; border-bottom: 2px solid #d4d3c9; }
.sec_seat .wrap_info > div { width: 50%;  padding: 0 0 0 20px; box-sizing: border-box; }
.sec_seat .wrap_info > .left { padding-right:10px; border-right: 1px solid #d4d3c9;}
.sec_seat .wrap_info > .left .txt_red { text-align: right; font-size: 11px ; color: red; }
.sec_seat .wrap_info > .right .list_info { font-size: 14px;}
.sec_seat .wrap_info > .right .list_info > li { margin-right: 10px}
.sec_seat .wrap_info > .right .info_time { padding-top: 10px}
.list_group > li { display: flex; padding: 0 0 10px}
.list_group > li > .title { width: 55px; font-size: 14px}
.list_group > li ul { display: flex;}
.list_group > li ul li { margin-right: 7px}
.list_group > li ul li.selected a { background: #333; border-color: #333; color: #fff}
.list_group > li ul li.dimmed a { background: #bbb; border-color: #bbb; color: #fff}
.list_group > li ul li a { display: block; width: 22px; height: 22px; line-height: 20px; border:1px solid #d6d3ce; box-sizing: border-box; text-align: center; font-weight: bold; font-size: 15px}
.wrap_room > .clear > div { padding: 20px 0 0; height: 385px; box-sizing: border-box;}
.wrap_room > .clear > .left { width: 80%; }
.wrap_room > .clear > .right { width: 15%; font-size: 13px; color: #333}
.wrap_room .wrap_seats > .inner { width: 80%; margin: 0 auto; text-align: center;}
.wrap_room .wrap_seats .seats { margin: 50px 0 0; height:200px; }
.wrap_room .screen { line-height: 30px; background:#d8d6d1; color:#757573 ; font-weight: bold;}
.wrap_room .wrap_info ul li i { display: inline-block; width: 15px; height: 16px; margin-right: 8px; background-image: url(/common/images/sprite/seat_icons.png); background-repeat: no-repeat; vertical-align: middle; }

.c_position {  border: none; box-sizing : border-box;text-align:center; }
.c_position:after { display: block; content: ""; clear: both;}
.s_position { float:left; margin:0 3px 3px 0; width:16px; height:16px; background-color:rgb(187, 187, 187); font-size: 11px; box-sizing: border-box; line-height: 15px; color:#fff; cursor: pointer;}
.l_position {  margin:0 3px 3px 0; width:16px; height:16px; background-color:rgb(187, 187, 187); font-size: 11px; box-sizing: border-box; line-height: 15px; color:#fff; cursor: pointer;}
.s_seat_no {border : none;  float: left;  box-sizing : border-box;text-align:center; margin-right:20px;  }
#s_contain{border : none; float: left; display: block; box-sizing : border-box;text-align:center; }

/* 220210 추가 */
.container { display: table; margin: 0 auto;}
