




#main_container{
    width : 996px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}
#btn_line{
    margin: 0 auto;
    width: 996px;
    height: 80px;
}

.btn_style {
    background-repeat: no-repeat;
    width: 88px;
    height: 30px;
    overflow: hidden;
    /* border : 1px solid red; */
    white-space: nowrap;
    cursor: pointer;
    margin-top: 3%;
    float: right;
 
}
.btn_style > span {
   display: none;
    left: 500px;
}



#btn_Eng {
    background-image: url("../image/top_buttons.png") ;
    background-position: 0 0;
   
    top : 30px;


}
#btn_book {
    background-image: url("../image/top_buttons.png") ;
    background-position: 0 -30px;
    
    top : 30px;

}
#btn_discount {
    background-image: url("../image/top_buttons.png") ;
    background-position: 0 -60px;
    
    top : 30px;

}
#btn_schedule {
    background-image: url("../image/top_buttons.png") ;
    background-position: 0 -90px;
   
    top : 30px;
    width: 110px;

}
#btn_ReBook {
    background-image: url("../image/top_buttons.png") ;
    background-position: 0 -120px;
    top : 30px;
    
    width: 115px;

}

.wrap_step { 
    background-color: #d4d3c9;
}
.wrap_step > div { margin-left: 2px; min-height: 700px;}

.step {
    position: relative;
    width: 283px;
    background-color: #F2F0E4;
    height: 595px;
    float: left;
    
}

.step_date {
    position: relative;
    width: 90px;
    background-color: #F2F0E4;
    height: 595px;
    float: left;
    
    
}
#sec_movie {
    width: 284px;
    /* border : 1px solid red; */
    position: relative;

}
.sec_head {
    background-color: #333;
    color : white;
    text-align: center;
    height: 33px;
    box-sizing: border-box;
    padding-top: 3px;
    font-size: 20px;
}
.sec_body {
    
    box-sizing: border-box;
    height: 100%;
    position: relative;

   
}
#mov_title {
    box-sizing: border-box;
    margin-left: 20px;
    margin-top: 20px;
    width: 244px;
}
.sec_body > #mov_title > p {
    float: left;
}
.side_bar {
    background: url("../image/tabmenu_side_on.png") no-repeat;
    height: 28px;
    width: 2px;
    float: left;
}
.btn1 {
    box-sizing: border-box;
    width: 62px;
    text-align: center;
    border-top: 2px solid #353535;
    border-bottom: none;
    line-height: 24px;
    vertical-align: bottom;
  
    
    
}
.btn2 {
    box-sizing: border-box;
    width: 90px;
    border-bottom: 2px solid #353535;
    border-top: 2px solid #acaba2;
    border-right: 2px solid #acaba2;
    text-align: left;
    line-height: 24px;
    vertical-align: bottom;
    padding-left: 8px;
}
.btn3 {
    width: 88px;
    box-sizing: border-box;
    text-align: left;
    border-top: 2px solid #acaba2;
    border-right: 2px solid #acaba2;
    border-bottom: 2px solid #353535;
    line-height: 24px;
    vertical-align: bottom;
    padding-left: 20px;
   
}
.btn {
    font-size: 12px;
    
}
.arrow {
   position: absolute;
   content: "";
    background: url("../image/tabmenu_arrow.png") no-repeat;
    width: 7px;
    height: 7px;
    margin-top: 11px;
    margin-left: 5px;
    
}

.sort_title{
    margin-bottom: 10px;
    box-sizing: border-box;
    margin-left: 20px;
    width: 244px;
    border-bottom: 2px solid #acaba2;
}

p.move_sort {
    position: relative;
    float: left;
    width: 60px;
    font-size: 12px;
    margin-top : 5px;
    height: 32px;
    line-height: 32px;
    transform: translateY(2px);
}
.move_rank {
  
    background: url("../image/sortmenu_btn_on.png") repeat-x bottom;
   
}


.scrl{
    overflow-y: scroll;
    overflow-x: hidden;
}
.scrl::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
    border-radius: 8px;
}

.scrl::-webkit-scrollbar-track  {
    background-color: transparent; 
}
.scrl::-webkit-scrollbar-thumb { 
    background-color: #797872;
    border-radius: 8px;
}

#theather_content { margin-left: 20px;}

#mov_list{
    position: relative;
    margin-left: 20px;
    width: 85%;
    height: 80%;
    overflow-y :scroll;
    overflow-x: hidden;
    
}

#mov_list > ul {
    list-style : none;
    padding : 0;
    /* position: absolute; */
    /* overflow :scroll;
    overflow-x: hidden; */
    /* top : -10px; */
    width: 244px;
    height: 100%;
    
}


.icon_list1 {
    background : url("../image/icon_ratings2.png") no-repeat;
    background-position: 2px 0px;
}
.icon_list2 {
    background : url("../image/icon_ratings2.png") no-repeat;
    background-position: 2px -34px;
}
.icon_list3 {
    background : url("../image/icon_ratings2.png") no-repeat;
    background-position: 2px -68px;
}
.icon_list4 {
    background : url("../image/icon_ratings2.png") no-repeat;
    background-position: 2px -102px;
}
.icon_age {
    box-sizing: border-box;
    float: left;
    width: 29px;
    height: 29px;
 
   /* border: 1px solid red; */
 
}
.li_mov {
    height: 40px;
    padding-top: 8px;
    box-sizing: border-box;
}

.text_mov {
    /* border : 1px solid blue; */
    float: left;
    padding-top: 3px;
    color: #333;
    font-weight: bold;
    font-family: 'Tahoma','돋움',dotum,Nanum Gothic,sans-serif;
    white-space: nowrap;
    cursor: pointer;
    font-size: 14px;
}

.clear {
    clear : both;
}
#icon_list2 {
    background : url("../image/icon_ratings2.png") no-repeat;
    background-position: 2px 3px;
    
    /* border : 1px solid red; */
}
#icon_list3 {
    background : url("../image/icon_ratings2.png") no-repeat;
    background-position: 2px -102px;;
    
    /* border : 1px solid red; */
}

#sec_theater{
    width: 284px;
    

    position: relative;
}

.theater_ul {
    float: left;
}


.theater_content { display: flex;}
.theater_area { width: 109px;}
.theater_name { flex: 1; height: 300px;}


#theater_area > ul > li {
    color: #333;
    font-family: 'Tahoma','돋움',dotum,Nanum Gothic,sans-serif;
    font-size: 12px;
    font-weight: normal;
    background-color: #e6e4d6;
    list-style: none;
    line-height: 30px;
    box-sizing: border-box;
    padding-right: 5px;


}
#theater_name > ul > li {
    color: #333;
    font-family: 'Tahoma','돋움',dotum,Nanum Gothic,sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-weight: 1000;
    list-style: none;
    line-height: 30px;
}
#theater_area{
    text-align: right;
}
#theater_name > ul{
    padding : 0 0 0 10px;
    width: 80%;
    text-align: left;
    height: 300px;
 
    
}
#theater_select{
    background-color: #F2F0E4 !important;
}
#theater_select:after{
    content: url("../image/row_arrow.png");
    padding-left: 2px;
    
}

#date_head {
    background-color: #333;
    color : white;
    text-align: center;
    height: 33px;
    box-sizing: border-box;
    padding-top: 3px;
    font-size: 20px;
}
#date_month{
    /* border : 1px solid blue; */
    position: relative;
    box-sizing: border-box;
    
}

#date_month > ul {
    margin : 0;
    padding : 0;
    height: 500px;
    width: 85%;


}


.month_li, .date_li {
    list-style: none;
    margin : 0;
    padding : 0;
    /* border : 1px solid red; */
    width: 64px;
    line-height: 35px;
    text-align: center;

    
}

.month_li > .year {
    display: block;
    margin-top: 12px;
    text-align: center;
    color: #666;
    font-size: 11px;
    font-family: Verdana;
    font-weight: bold;
    line-height: 11px;
    
    
}
.month_li > .month{
    display: block;
    margin-top: 3px;
    text-align: center;
    color: #666;
    font-size: 30px;
    font-family: Verdana;
    font-weight: bold;
    line-height: 30px;
}

.dayWeek {
    float: left;
    color: #333;
    font-size: 12px;
    padding-top: 2px;
    cursor: pointer;
    clear:both;
    width: 32px;
    
}

.day {
    float: right;
    color: #333;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 32px;
    height: 37px;
}
.step_time{
    width: 330px;
    position: relative;
    float: left;
    height: 595px;
    background-color: #f2f0e5;
    overflow: hidden;
    
}
.time_head{
    background-color: #333;
    color : white;
    text-align: center;
    height: 33px;
    box-sizing: border-box;
    padding-top: 3px;
    font-size: 20px;
    border-right: 1px solid white;
}
#time_body{
    width: 306px;
    position: relative;
    overflow: hidden;
}
.time_icon{
    float: left;
    width: 306px;
    height: 23px;
    margin-left: 20px;
    margin-top: 19px;
    border-bottom: solid 2px #cfcdc3;
}
.morning{
    float: left;
    height: 14px;
    padding-left: 18px;
    background: url(../image/icon_morning_night.png) no-repeat left;
    background-position: 0 0;
    color: #333;
    font-family: 'Tahoma','돋움',dotum,Nanum Gothic,sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.night{
    float: left;
    height: 14px;
    padding-left: 18px;
    background: url(../image/icon_morning_night.png) no-repeat left;
    background-position: 0 -20px;
    color: #333;
    font-family: 'Tahoma','돋움',dotum,Nanum Gothic,sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.time_seat{
    float: left;
    width: 306px;
   
    margin-top: 10px;
    margin-left: 20px;
    overflow: hidden;
}
.move_type{
    color: #b54d15;
    font-size: 12px;
    font-weight: bold;
    margin-right: 6px;
}
.theater_room{
    color: #333;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
}
.seat_count{
    color: #666;
    font-size: 12px;
}
.time_List{

    float: left;
    width: 306px;
    margin-left: 20px;
    overflow: hidden;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    
    
}
.time_seatList{
    width: 100px;
    float: left;
    margin-top: 5px;
    
}
.time_seatList:nth-child(3n+1){
    clear:both;
}


.time_point{
    float: left;
    width: 45px;
    height: 23px;
    line-height: 23px;
    border: 2px solid #d6d3ce;
    background-image: none;
    background-color: #f2f0e5;
    color: #333;
    font-family: 'Tahoma','돋움',dotum,Nanum Gothic,sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
}
.seat_countG{
    float: left;
    width: 45px;
    height: 20px;
    line-height: 25px;
    text-align: left;
    color: #3d7c35;
    font-size: 14px;
    padding-left: 3px;
    overflow: hidden;
}

#time_body:last-child{
    border : none ;
}
.side_banner{
    display: none;
    background : url("../image/side_banner.png") no-repeat;
    width: 160px;
    height: 300px;
    float: left;
    margin-left : 17%;
    margin-right: 5px;
}
.side_banner1{
    display: none;
    background : url("../image/side_banner.png") no-repeat;
    width: 160px;
    height: 300px;
    float: left;
    margin-left : 5px;
    margin-right: 5px;
}
.select_line{
    background-color: black;
    width: 100%;
    height: 150px;
    display: inline-block;
    box-sizing: border-box;
    
}

.movie_bottom{
    background: url("../image/movie_bottom.jpg") no-repeat;
    height: 130px;
    margin-top: 30px;
}
.tag_on{
    display: block;
}
.tag_off{
    display: none;
}
#select_mov {
    width: 200px;
    height: 150px;
    /* border : 1px solid red; */
    float: left;
}
.dev_line{
    width: 2px;
    height: 120px;
    border-radius: 20%;
    background-color: #d4d3c9;
    float: left;
    margin-top: 15px;
    margin-left: 5px;

}
#select_img{
    width: 120px;
    height: 140px;
    padding-top: 5px;
    float: left;
    color : #ffffff;
    display: none;
}

#select_title{
    color : #ffffff;
    width: 120px;
    float: left;
    display: none;
}
#select_img_befor{
    width: 200px;
    height: 140px;
    padding-top: 5px;
    float: left;
    background: url(../image/tnb_steps.png) no-repeat left;
    /* background-size: 200px 200px; */
    background-position : 35px 60px;
    /* display: none; */
}
#select_theater{
    width: 200px;
    height: 120px;
    /* border : 1px solid red; */
    float: left;
    margin-top: 20px;
    display: none;

}
#select_theater_befor{
    width: 200px;
    height: 120px;
    /* border : 1px solid red; */
    float: left;
    margin-top: 20px;
    background: url(../image/tnb_steps.png) no-repeat left;
    /* background-size: 200px 200px; */
    background-position : 30px -70px;

}
#select_theater span{
    color : #ffffff;
    font-size: 12px;
    padding-left: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    
}
#select_conment1{
    float: left;
    width: 130px;
    height: 120px;
    /* border : 1px solid red; */
    margin-top: 15px;
    background: url(../image/tnb_steps.png) no-repeat left;
    /* background-size: 200px 200px; */
    background-position : 0px -170px;

}
#select_conment2{
    float: left;
    width: 120px;
    height: 120px;
    /* border : 1px solid red; */
    margin-top: 15px;
    background: url(../image/tnb_steps.png) no-repeat left;
    /* background-size: 200px 200px; */
    background-position : -30px -278px;

}
#reg_btn{
    float: right;
    width: 120px;
    height: 110px;
    /* border : 1px solid red; */
    margin-top: 30px;
    margin-right: 10px;
    background: url(../image/tnb_buttons.png) no-repeat left;
    /* background-size: 200px 200px; */
    background-position : 10px -220px;
}